<div style="background-color: #f2f2f2; padding: 0px 70px 70px 70px">
  <div class="container-fluid">
    <div class="row">
      <div class="top-nav">
        <!-- Left Icons -->
        <div class="left-icons">
          <div class="nav_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="nav_icon">
            <i class="fa-regular fa-bell"></i>
          </div>
        </div>
        <!-- Right Icons -->
        <div class="right-icons">
          <div class="nav_icon2" (click)="openSetting()">
            <img
              src="../../../assets/images/settings.svg"
              width="30px"
              height="30px"
              class="nav-icon"
            />
          </div>
          <div class="nav_icon2" (click)="openNav()">
            <img
              src="../../../assets/images/home.svg"
              width="30px"
              height="30px"
              class="nav-icon"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row container">
      <div class="col-12 nav-wrapper" *ngIf="isNavbarOpen">
        <button class="close-btn" (click)="openNav()">&times;</button>

        <div class="nav-container">
          <!-- Close Button -->

          <!-- Home Icon Section -->
          <div class="home-icon">
            <div class="circle">
              <i class="">
                <img
                  src="../../assets/images/home-1.svg"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الرئيسية</span>
              <!-- Move the span inside the circle -->
            </div>
          </div>

          <!-- Other Navigation Icons -->
          <div class="nav-items">
            <div class="nav-item first-item" routerLink="/subscripeDetails">
              <i class="">
                <img
                  src="../../assets/images/users-more.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>معلومات الاشتراك</span>
            </div>
            <div class="nav-item" routerLink="/bills">
              <i class="">
                <img
                  src="../../assets/images/coin-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الفواتير</span>
            </div>
            <div class="nav-item" routerLink="/package">
              <i class="">
                <img
                  src="../../assets/images/crown-2.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الباقات</span>
            </div>
            <div class="nav-item" routerLink="/pricing">
              <i class="">
                <img
                  src="../../assets/images/coin-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>أسعار المواد</span>
            </div>
            <div class="nav-item" routerLink="/stages">
              <i class="">
                <img
                  src="../../assets/images/document-filled.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>المراحل</span>
            </div>
            <div class="nav-item" routerLink="/classroom">
              <i class="">
                <img
                  src="../../assets/images/document-filled.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الصفوف</span>
            </div>
            <div class="nav-item" routerLink="/material">
              <i class="">
                <img
                  src="../../assets/images/document-filled.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>المواد</span>
            </div>
            <div class="nav-item" routerLink="/questions">
              <i class="">
                <img
                  src="../../assets/images/suitcase.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>البنك</span>
            </div>
            <div class="nav-item">
              <i class="">
                <img
                  src="../../assets/images/document-plus.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>توزيع المنهج</span>
            </div>
            <div class="nav-item" routerLink="/rating">
              <i class="">
                <img
                  src="../../assets/images/offer.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> التقيمات</span>
            </div>
            <div class="nav-item" routerLink="/subscripe">
              <i class="">
                <img
                  src="../../assets/images/location-med-2.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> المناطق</span>
            </div>
            <div class="nav-item">
              <i class="">
                <img
                  src="../../assets/images/screen-share.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> بطاقة الدرس</span>
            </div>
            <div class="nav-item" routerLink="/users">
              <i class="">
                <img
                  src="../../assets/images/users-more.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> المستخدمين</span>
            </div>
            <div class="nav-item">
              <i class="">
                <img
                  src="../../assets/images/calendar-user.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> المهارات الاساسية</span>
            </div>
            <div class="nav-item" routerLink="/requests">
              <i class="">
                <img
                  src="../../assets/images/like.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> طلبات الموافقة</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row container">
      <div class="col-12 nav-wrapper" *ngIf="isSettingBarOpen">
        <button class="closeSetting-btn" (click)="openSetting()">
          &times;
        </button>

        <div class="settingNav-container">
          <div class="setting-icon">
            <div class="circle">
              <i class="">
                <img
                  src="../../assets/images/settingsBlue.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الاعدادات</span>
              <!-- Move the span inside the circle -->
            </div>
          </div>

          <div class="nav-items">
            <div class="nav-item first-item" routerLink="/technical">
              <i class="">
                <img
                  src="../../../assets/images/headphones.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الدعم الفني</span>
            </div>

            <div class="nav-item" routerLink="/permission">
              <i class="">
                <img
                  src="../../../assets/images/shield-empty.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الصلاحيات</span>
            </div>

            <div class="nav-item" routerLink="/covenants">
              <i class="">
                <img
                  src="../../../assets/images/list-left-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>العهود والمواثيق</span>
            </div>

            <div class="nav-item" routerLink="/policy">
              <i class="">
                <img
                  src="../../../assets/images/list-left-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الشروط الاحكام</span>
            </div>

            <div class="nav-item" routerLink="/commonq">
              <i class="">
                <img
                  src="../../../assets/images/question-circle.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الاسئلة الشائعه</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row container">
      <div class="col-12 nav-wrapper" *ngIf="isSettingBarOpen">
        <button class="closeSetting-btn" (click)="openSetting()">
          &times;
        </button>

        <div class="settingNav-container">
          <div class="setting-icon">
            <div class="circle">
              <i class="">
                <img
                  src="../../assets/images/settingsBlue.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الاعدادات</span>
              <!-- Move the span inside the circle -->
            </div>
          </div>

          <div class="nav-items">
            <div class="nav-item first-item" routerLink="/technical">
              <i class="">
                <img
                  src="../../../assets/images/headphones.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الدعم الفني</span>
            </div>

            <div class="nav-item" routerLink="/permission">
              <i class="">
                <img
                  src="../../../assets/images/shield-empty.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الصلاحيات</span>
            </div>

            <div class="nav-item" routerLink="/covenants">
              <i class="">
                <img
                  src="../../../assets/images/list-left-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>العهود والمواثيق</span>
            </div>

            <div class="nav-item" routerLink="/policy">
              <i class="">
                <img
                  src="../../../assets/images/list-left-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الشروط الاحكام</span>
            </div>

            <div class="nav-item" routerLink="/commonq">
              <i class="">
                <img
                  src="../../../assets/images/question-circle.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الاسئلة الشائعه</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-form">
    <div class="container-fluid">
      <div class="row">
        <div class="header-container">
          <!-- Left side: Buttons -->
          <div class="left-buttons">
            <button
              id="addContractBtn"
              class="button add-contract-btn"
              data-bs-toggle="modal" data-bs-target="#addModal"
              (click)="toggleAddContract()"
              [ngClass]="{
                active: addContractActive,
                inactive: !addContractActive
              }"
            
            >
              إنشاء مادة جديده <i class="fa-solid fa-plus"></i>
            </button>
            <button
              id="exportPdfBtn"
              class="button export-pdf-btn"
              [ngClass]="{
                active: !addContractActive,
                inactive: addContractActive
              }"
              (click)="toggleExportPdf()"
            >
              تصدير PDF
            </button>
          </div>

          <!-- Right side: Title and Search bar -->
          <div class="right-content">
            <div class="search-container">
              <input
                type="text"
                placeholder="قم بالبحث هنا"
                class="search-input"
              />
              <i class="fa-solid fa-search search-icon"></i>
            </div>
            <h2 class="title">المواد</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="my-form">
      <div class="form-group">
        <div class="table-container">
          <table class="skills-table">
            <thead>
              <tr class="header-row">
                <th>الاجراء</th>
                <th>المستخدم <i class="fa-solid fa-sort"></i></th>
                <th>تاريخ الانشاء <i class="fa-solid fa-sort"></i></th>
                <th>المرحله <i class="fa-solid fa-sort"></i></th>
                <th>اسم الماده <i class="fa-solid fa-sort"></i></th>
                <th>رقم الماده <i class="fa-solid fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of elements; let i = index">
                <td class="actions">
                  <i
                    class="ellipsis-btn fa-solid fa-ellipsis"
                    (click)="showMenu(i)"
                  ></i>

                  <!-- Dropdown menu -->
                  <div class="dropdown-menu" [class.open]="item.isMenuOpen" >
                    <button
                      class="dropdown-item edit-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#editModal"
                      (click)="openEditModal(item)"
                    >
                      <i class="fa-solid fa-cog"></i> تعديل
                    </button>
                    <button
                      class="dropdown-item delete-btn"
                      (click)="deleteSubject(item.subjectId, i)"
                    >
                      <i class="fa-solid fa-trash"></i> حذف
                    </button>
                  </div>
                </td>
                <!-- (click)="openEditModal(item)" -->
                <td>admin</td>

                <td>{{ item.createdOn }}</td>

                <td>{{ item.levelName }}</td>
                <td>{{ item.subjectName }}</td>

                <td>{{ item.subjectId }}</td>
              </tr>
            </tbody>
          </table>

          <div class="custom-pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              ‹
            </button>
            <button
              *ngFor="let page of pages"
              (click)="goToPage(page)"
              [class.active]="page === currentPage"
            >
              {{ page }}
            </button>
            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              ›
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<!-- Create Modal  -->


<!-- id="createModal" -->
<div
class="modal fade"
id="addModal" tabindex="-1" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
      إضافه ماده جديده
        </h1>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="subjectForm" (ngSubmit)="onSubmit()"
       
        >
      
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
           
              </div>
            </div>
          </div>
          <div class="row">
       
            <div class="col-md-6">
              <div class="mb-3">
                <div class="container">
                  <div class="row justify-content-end">
                    <label for="exampleFormControlInput1" class="form-label"
                      >الصف</label
                    >
                    <select class="form-select form-control custom-input" formControlName="gradeId">
                      <option value="" disabled selected>قم باختيار الصف</option>
                      <option *ngFor="let grade of grades" [value]="grade.id">
                        {{ grade.gradeName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <div class="container">
                  <div class="row justify-content-end">
                    <label for="exampleFormControlInput1" class="form-label"
                      >المادة</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      formControlName="subjectName"
                      placeholder="قم بكتابه اسم المادة"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <div class="modal-footer justify-content-between">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModalById('addModal')"
            >
              إلغاء
            </button>
            <button type="submit" class="btn export-pdf-btn">
              إضافه 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->

<div
class="modal fade" id="editModal" tabindex="-1" aria-hidden="true" #editModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >
         تعديل المادة
        </h1>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="subjectForm" (ngSubmit)="onSubmitUpdate()"
       
        >
      
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
        
              </div>
            </div>
          </div>
          <div class="row">
       
            <div class="col-md-6">
              <div class="mb-3">
                <div class="container">
                  <div class="row justify-content-end">
                    <label for="gradeId" class="form-label"
                      >الصف</label
                    >
                    <select class="form-select form-control custom-input" formControlName="gradeId" >
                      <option value="" disabled selected>قم باختيار الصف</option>
                      <option *ngFor="let grade of grades" [value]="grade.id">
                        {{ grade.gradeName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <div class="container">
                  <div class="row justify-content-end">
                    <label for="subjectName" class="form-label"
                      >المادة</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="subjectName"
                      formControlName="subjectName"
                      placeholder="قم بكتابه اسم المادة"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <div class="modal-footer justify-content-between">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModalById('editModal')"
            >
              إلغاء
            </button>
            <button type="submit" class="btn export-pdf-btn" >
          حفظ
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
