<div class="icon-container left-icons align-items-center">
    <img src="../../../assets/images/human.png" width="60px" height="60px" />
    <div class="nav_icon">
      <img src="../../../assets/images/bell.svg" width="30px" height="30px" />
    </div>
  </div>

  <div class="icon-container center-icons align-items-center pb-3">
    <h1 style=" color: #001A72;"> التعهدات المواثيق</h1>
  </div>

  <!-- Icons on the right side -->
  <div class="icon-container right-icons align-items-center">
    <div class="nav_icon">
      <img
        src="../../../assets/images/settings.svg"
        width="30px"
        height="30px"
        class="nav_icon"
      />
    </div>
    <div class="nav_icon" >
      <img
        src="../../../assets/images/home.svg"
        width="30px"
        height="30px"
        class="nav_icon"
      />
    </div>
  </div>

<div class="container">
    <div class="card-center">
      <!-- <h4>التعهدات المواثيق</h4> -->
      <div class="gray-box">
        <ckeditor [(ngModel)]="editorData" [editor]="Editor" [config]="editorConfig"></ckeditor>
      </div>
      <button class="action-button">حفظ المعلومات</button>
    </div>
  </div>
  