
.background-container {
  position: relative; /* Position context for child elements */
  min-height: 100vh; /* Set a smaller height */
  display: flex; /* For centering the form */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Prevent scrolling within this container */
  /* background-image: url('../../../../assets/images/back.jpg'); */
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  padding: 50px;
  background-color: #F2F2F2;
}


  
  .top-left {
  position: absolute; /* Position it at the top left */
  top: 20px; /* Adjust as necessary */
  left: 20px; /* Adjust as necessary */
  z-index: 2; /* Ensure it's above the overlay */
}

.circle-image-container {
  position: relative; /* Position context for the icon */
  width: 50px; /* Set the size for the circle */
  height: 50px; /* Set the size for the circle */
}

.circle-image {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border-radius: 50%; /* Make it circular */
}

.your-icon-class {
  position: absolute; /* Position it over the circle image */
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Center the icon */
  font-size: 20px; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
}

.top-right {
  position: absolute; /* Position it at the top right */
  top: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  z-index: 2; /* Ensure it's above the overlay */
}



.icon-class-1, .icon-class-2 {
  font-size: 24px; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
}

  
.my-form {
  position: relative; /* This makes the form above the overlay */
  z-index: 2; /* Ensure the form is above the overlay */
  background-color: rgba(223, 206, 178, 0.7); /* Semi-transparent background */
  padding: 20px; /* Adds some padding to the form */
  border-radius: 30px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for form */
  height: auto;
 /* Fixed height */
}

.custom-form{
  width: 65%;
  margin-top: 20px;
  
}

.custom-box{
  background-color: #fff;
  padding:20px;
  border-radius:10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.custom-box2{
  background-color: #fff;
  border-radius:10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  
  .step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    position: relative;
  }
  
  .step span {
    display: block;
  }
  
  .step.completed {
    background-color: #6D4E1F; /* Green for completed steps */
  }
  
  .step.active {
    background-color: #6D4E1F; /* Blue for active step */
    width: 70px; /* Larger size for active step */
    height: 70px;
    font-size: 24px; /* Larger font size for active step */
  }
  
  .line {
    width: 100px;
    height: 4px;
    background-color: #6D4E1F;
  }

  .line2 {
    width: 100px;
    height: 4px;
    background-color: #e0e0e0;
  }
  
  .line.completed {
    background-color: #6D4E1F; /* Green line for completed step */
  }

  .remain{
    color:#6D4E1F;
  }
  

.label {
    margin-top: 10px;
    font-size: 14px;
    color: #6D4E1F;
  }

  .stepper2 {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  

  .icon-container {
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Space between icons */
  }
  
  .left-icons {
    left: 4%;
    top: 4%;
    transform: translateY(-50%);
  }
  
  .right-icons {
    right: 4%;
    top: 4%;
    transform: translateY(-50%);
  }
  .nav_icon{
    padding: 5px;
    border-radius: 10px;
    background-color: #001a72;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav_icon.hovered {
    background-color: white;
    border: 1px solid #001a72;
  }
  .dropdown-menu {
    position: absolute;
    top: 70px; /* Adjust based on your profile image height */
    left: 14px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    /* width: 200px; */
    text-align: right;
    z-index: 1000;
    display: block;
  }
  
  .menu-item {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .logout {
    color: #980101;
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 2px solid #000;
  }
  
  .nav-wrapper {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: visible;
    background: transparent;
    padding: 10px 0;
  }
  
  /* Navigation Container */
  .nav-container {
    position: relative;
    background-color: #fcf2bd;
    border-radius: 15px;
    width: auto;
    /* max-width: 40%; */
    min-width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    direction: rtl;
    margin-right: 16px;
    margin-top: -3px;
  }
  
  /* Hide the scrollbar */
  .nav-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  /* Close Button */
  .close-btn {
    z-index: 2;
    position: absolute;
    top: -5%;
    right: -13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    display: flex
  ;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #ff0000; /* Darker red on hover */
  }
  
  /* Home Icon Section */
  .home-icon {
    position: absolute;
    top: -35%;
    right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; /* Ensure it's above the navigation */
  }
  
  /* Circle Styling */
  .home-icon .circle,
  .setting-icon .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fcf2bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.6),
      0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
    z-index: 11; /* Keep it above other elements */
  }
  
  .home-icon i,
  .setting-icon i {
    font-size: 32px;
    color: #224273;
  }
  
  .home-icon span {
    margin-top: 5px; /* Adjust to position the text under the icon */
    font-size: 14px;
    font-family: 'AGA Mashq Bold', Arial, sans-serif;
    color: #000;
  }
  
  /* Navigation Items */
  .nav-items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* padding-right: 60px; */
    flex-wrap: nowrap;
  }
  
  /* .nav-item.first-item {
    padding-right: 60px; 
  } */
  
  .nav-item {
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      font-family: 'AGA Mashq Bold', Arial, sans-serif;
      text-align: center;
      color: #000;
      font-size: 14px;
      white-space: nowrap;
  }
  
  /* .nav-item.first-item {
    padding-right: 60px;
  } */
  
  .nav-item i {
    font-size: 24px;
    margin-bottom: 5px;
    color: #000;
  }
  
  .nav-item span {
    font-size: 12px;
  }
  
  .nav-item:hover {
    cursor: pointer;
    color: #224273; /* Highlight color */
  }
  
  .active-nav-item {
    border: 2px solid black; /* Blue border */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0 4px 10px rgba(34, 66, 115, 0.3); /* Subtle shadow */
    background-color: #fcf2bd; /* Optional: Highlight background */
    padding: 10px; /* Adjust spacing for better visuals */
    color: black; /* Active color */
  }
  
  
  /* Optional: Active Icon Styling */
  .active-nav-item i img {
    transform: scale(1.1); /* Slightly enlarge the icon */
    transition: transform 0.2s ease; /* Smooth scaling effect */
  }
  
  /* Optional: Active Span Styling */
  .active-nav-item span {
    font-weight: bold; /* Highlight text */
  }
  
   /* // Setting NAv */
  
   .setting-icon {
    position: absolute;
    top: -43%;
    right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .settingNav-container{
    position: relative;
    background-color: #fcf2bd;
    border-radius: 15px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    overflow: visible;
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    direction: rtl;
    margin-right: 139px;
    margin-top: -37px;
  
  }
  
  .closeSetting-btn {
    z-index: 2;
    position: absolute;
    top: -59%;
    right: 111px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  