<div class="background-container">
    <div class="overlay"></div>
  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group">
          
            <div class="stepper">
                <div class="step completed">
                  <span>1</span>
                </div>
                
                <div class="line"></div>
                <div class="step completed">
                  <span>2</span>
                </div>
                <div class="line"></div>
                <div class="step active">
                  <span>3</span>
                </div>
            </div>

            <div class="stepper2">
              <img
             
              src="../../../assets/images/check_5610944.png"
              alt="check Image"
              height="70px" width="70px"
            />
            
            </div>
            <div class="stepper2 mt-1">
              <h2>تم الاشتراك بنجاح</h2>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-light mt-3 ">PDF تصدير</button>
              <button class="btn btn-light mt-3 ">طباعة</button>
            </div>
            <div class="printable-area" style="background-color: #fff; padding:20px; border-radius: 10px; margin-top: 20px;">
              <div class="container">
                <div class="row">
                  <h5 class="text-end col-md-4">
                    نوع الاشتراك : <span class="type-of-subscrabtion">ذهبي</span>
                  </h5>
                  <div class="col-md-4"></div>
                  <h5 class="text-end col-md-4">
                    فصول
                  </h5>
                </div>
                <div class="row">
                  <div class="print" style="border:1px solid #000;padding:10px;margin-top: 10px;">
                    <div class="container">
                      <div class="row">
                        <h5 class="text-end col-md-4 col-sm-4">
                          رقم الإيصال
                        </h5>
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <h5 class="text-end col-md-4 col-sm-4">
                          التاريخ
                        </h5>
                      </div>
                      <div class="row">
                        <p class="text-end col-md-4" style="color: #afafaf;">1644966644929496</p>
                        <div class="col-md-4">
                        </div>
                        <p class="text-end col-md-4" style="color: #afafaf;">
                          اكتوبر 2024 الساعة 12:40 م
                        </p>
                      </div>
                      <div class="row">
                        <span class="line col-md-12" style="height: 1px ;background-color: #afafaf;width: 100%;"></span>
                      </div>
                      <div class="row "style="margin-top: 10px;">
                        <h5 class="text-end col-md-3 col-sm-4">
                          المواد
                        </h5>
                        <h5 class="text-end col-md-3 col-sm-4">
                          الصف
                        </h5>
                        <h5 class="text-end col-md-3 col-sm-4">
                          المرحلة
                        </h5>
                        <h5 class="text-end col-md-3 col-sm-4">
                          المنطقة
                        </h5>
                      </div>
                      <div class="row data">
                        <p class="text-end col-md-3" style="color: #afafaf;">
                          اللغة العربية
                        </p>
                        <p class="text-end col-md-3" style="color: #afafaf;">
                          الثاني الإبتدائي
                        </p>
                        <p class="text-end col-md-3" style="color: #afafaf;">
                          الابتدائية
                        </p>
                        <p class="text-end col-md-3" style="color: #afafaf;">
                          المنطقة التعليمية الرياض
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-md-9 col-sm-9">
                        </div>
                        <h5 class="text-end col-md-3 col-sm-3">
                          مدة الاشتراك
                        </h5>
                      </div>
                      <div class="row">
                        <div class="col-md-1 ">
                        </div>
                        <div class="container col-md-4 duration-box2" style="background-color: #fff; color:#000;padding: 10px;box-shadow: 10px 10px 15px rgba(0,0,0,0.4);border-radius: 20px;;">
                          <div class="row">
                            <h5>
                              الفصل الدراسي الثاني
                            </h5>
                          </div>
                          <div class="row">
                            <h6 class="text-end col-md-6" style="color: #001A72;"> 39.00 <span>ر.س</span>
                            </h6>
                            <label class="text-end col-md-6" style="padding: 5px;background-color: yellow; color: #000;text-align: center;">
                              خصم 50 %
                            </label>
                          </div>
                        </div>
                        <div class=" col-md-2">
                        </div>
                        <div class="container col-md-4 duration-box2" style="background-color: #fff; color:#000;padding: 10px;box-shadow: 10px 10px 15px rgba(0,0,0,0.4);border-radius: 20px;;">
                          <div class="row">
                            <h5>
                              الفصل الدراسي الثاني
                            </h5>
                          </div>
                          <div class="row">
                            <h6 class="col-md-6" style="color: #001A72;"> 39.00 <span>ر.س</span>
                            </h6>
                            <label class="col-md-6" style="padding: 5px;background-color: yellow; color: #000;text-align: center;">
                              خصم 50 %
                            </label>
                          </div>
                        </div>
                        <div class="col-md-1 ">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
      
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-light mt-3" routerLink="/teacherDash">ابدأ حصتك الآن</button>
            </div>
   
  
        </div>
      </div>
    </div>
</div>
  