<div class="background-container">
    <img
      class="background-image"
      src="../../../assets/images/back.jpg"
      alt="Background Image"
    />
    <div class="overlay"></div>
  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group">
          
            <div class="stepper">
                <div class="step completed">
                  <span>1</span>
                </div>
                
                <div class="line"></div>
                <div class="step completed">
                  <span>2</span>
                </div>
                <div class="line"></div>
                <div class="step active">
                  <span>3</span>
                </div>
            </div>

            <div class="stepper2">
              <img
             
              src="../../../assets/images/check_5610944.png"
              alt="check Image"
              height="70px" width="70px"
            />
            
            </div>
            <div class="stepper2 mt-1">
              <h2>تم الاشتراك بنجاح</h2>
            </div>

           
              
      
   
  
        </div>
      </div>
    </div>
</div>
  