<div class="container">
  <div class="card-center">
    <h4>السياسة والخصوصية</h4>
    <div class="gray-box">
      <p class="letter">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص
        يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد
        مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص
        يمكن أن يستبدل في نفس المساحة،هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد
        مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص
        يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد
        مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،هذا النص هو مثال
        لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد
        مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص
        يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        العربى، حيث يمكنك أن تولد مثل هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة،
      </p>
    </div>
    <button class="action-button" routerLink="/prepPolicy">تعديل المعلومات</button>
  </div>
</div>
