<div class="full-screen-container d-flex justify-content-center align-items-center">
    <div class="table-card p-4">
        <!-- Header Row -->
        <div class="row table-header">
            <div class="col-12">
                <div class="header-cell">
                    اعدادات صفحه العرض
                </div>
            </div>
        </div>

        <!-- Data Rows -->
        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell align-items-center">
                    <div class="switch-container" style="position: relative;">
                        <input type="checkbox" id="switch" class="switch-input">
                        <label for="switch" class="switch-label">
                            <span class="switch-handle"></span>
                            <span class="switch-text on-text">On</span>
                            <span class="switch-text off-text">Off</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="data-cell">
                    <h2 class="arabic-text">بسم الله الرحمن الرحيم</h2>
                </div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Thornton</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText">الساعه</div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Otto</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText">العد التنازلي</div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Thornton</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText">صورة المعلم</div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Thornton</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText">صورة الطالب</div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Thornton</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText">عنوان الدرس</div>
            </div>
        </div>

        <div class="row table-row">
            <div class="col-6">
                <div class="data-cell">Thornton</div>
            </div>
            <div class="col-6">
                <div class="data-cell centerText"> الخط الزمني</div>
            </div>
        </div>

    </div>
</div>
