<div class="container-fluid" style="margin-right:0px;padding-right: 0px;padding-left: 0px;">
    <div class="row justify-content-between user-navbar">
        <!-- Left Box -->
        <div class="col-2 box left-box justify-content-center align-items-center">
            <div class="container-fluid justify-content-center align-items-center" >
                <div class="row justify-content-between">
                <div class="col-12 justify-content-between">
                    <img
                    src="../../../../assets/images/human.png" class="img-fluid"
                    />
                </div>
                </div>
                <div class="row">
                <div class="col-12">
                    <p class="align-items-center" >----- : المعلم</p>
                </div>
                </div>
            </div>
        </div>
    
        <!-- Center Box -->
        <div class="box  col-7 center-box">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Left Icon -->
                <div class="slider-icon">
                <img src="../../../../assets/images/chevron-left.png" alt="Left Icon" width="40" height="auto" />
                </div>
            
                <!-- Main Text -->
                <div class="text-center flex-grow-1">
                <h2 class="arabic-text">بسم الله الرحمن الرحيم</h2>
                <h3 style="color: #918b73; font-size: small">
                    الدرس الثاني :قيام الدوله الامويه
                </h3>
                </div>
            
                <!-- Right Icon -->
                <div class="slider-icon">
                <img src="../../../../assets/images/chevron-right.png" alt="Right Icon" width="40" height="auto" />
                </div>
            </div>
        
            <div class="progress-container">
                <div class="progress-step">
                <div class="progress-icon" id="step2">
                    <img src="../../../../assets/images/closeBox.png" width="50px" height="30px" />
                </div>
                </div>
                <div class="progress-line"></div>
                <div class="progress-step">
                <div class="progress-icon" id="step3">
                    <img src="../../../../assets/images/closeBox.png" width="50px" height="30px" />
                </div>
                </div>
                <div class="progress-line activeLine"></div>
                <div class="progress-step">
                <div class="progress-icon" id="step1">
                    <img src="../../../../assets/images/openBox.png" width="50px" height="30px" />
                </div>
                </div>
            </div>
        </div>
        <!-- Right Box -->
        <div class="col-2 box right-box justify-content-center align-items-center">
          <div class="container-fluid justify-content-center align-items-center" >
            <div class="row justify-content-between">
              <div class="col-12 justify-content-between">
                <img
                  src="../../../../assets/images/human.png" class="img-fluid"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="align-items-center text-end">----- : الطالب</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>