<div class="background-container">
  <app-navbar></app-navbar>

  <div class="custom-form">
    <div class="my-form">
      <div class="form-group container">
          <div class="header">
              <div class="header-item">
                  <span>المادة</span>
                  <p class="subject mt-2">توحيد</p>
              </div>
              <div class="header-item">
                  <span>الفصل</span>
                  <div class="terms ">
                      <div class="term mt-2" *ngFor="let term of terms">{{ term }}</div>
                  </div>
              </div>
              <div class="header-item">
                  <span>الصف</span>
                  <p class="class-level mt-2">الاول متوسط</p>
              </div>
          </div>
          
          <div class="row" style="margin-bottom: 10px; text-align: end; direction: rtl;">
          <div class="add-test float-end col-md-6" style="text-align: justify;">
            <span class="mytitle">إجمالي ورقة الاعمال </span>
            <br>
            <span class="test-count">24</span>
          </div>
          <div class="col-md-6">
          <button class="add-test-btn mb-3" data-bs-toggle="modal" data-bs-target="#exam"> إضافة ورقة عمل+</button>
        </div>
        </div>


          <!-- Card Items -->
          <div *ngFor="let test of tests; let i = index" class="card-container">
            <span class="number-badge">{{ i + 1 }}</span>
            <div class="card-header">
                <!-- Title and list icon on the left side -->
                <div class="title-with-icon d-flex">
                  <div class="d-flex flex-column align-items-end">
                    <span class="item-title">{{ test.title }}</span>
                    <span class="item-info">إجمالي الدرجات: {{ test.score }}</span>
                  </div>
                    <button class="list-icon ps-2 py-1">
                      <img src="../../assets/images/list-left.png" height="45px" width="45px">
                    </button>
                  </div>
        
                <!-- Icons on the right side (add question, settings, A icon) -->
                <div class="icons mt-3">
                    <button class="icon-btn">+ إضافة أسئلة</button>
        
                    <div class="btn-group" (click)="toggleDropdown2(i)">
                        <button class="icon-btn2">
                            <img src="../../assets/images/settingsBl.svg" height="20px" width="20px">
                        </button>
                        
                        <!-- Custom Dropdown Menu -->
                        <ul *ngIf="isDropdownOpen[i]" class="dropdown-menu">
                            <li><a class="dropdown-item">
                              تعديل <i class="fa-solid fa-pen-to-square"></i> </a></li>
                            <li><a class="dropdown-item" >حذف <i class="fa-solid fa-trash"></i></a></li>
                            <li><a class="dropdown-item">مشاركة مع طلاب
                              <i class="fa-solid fa-share"></i>
                            </a></li>
                            <li><a class="dropdown-item">طباعه ورقة الامتحان
                              <i class="fa-solid fa-print"></i>
                            </a></li>
                        </ul>
                    </div>
        
                    <button class="icon-btn3" data-bs-toggle="modal" data-bs-target="#student">
                        <!-- <img src="../../assets/images/A.png" height="13px" width="15px"> -->
                        <svg width="20" height="20" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.5 4.375V10.625M4.375 7.5H10.625" stroke="#001A72" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M22.5378 26.248H13.6938L12.1098 31H7.15976L15.5418 7.372H20.9208L29.1048 31H24.0888L22.5378 26.248ZM21.2178 22.189L18.1488 12.949L15.0468 22.189H21.2178Z" fill="#001A72"/>
                          </svg>
                    </button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>





<!-- Exam Modal -->
<div
class="modal fade"
id="exam"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog">
<div class="modal-content outer-container">
  <div class="inner-container">
    <div class="modal-header">
      <h1 class="modal-title" id="staticBackdropLabel">
      اضافة إختبار
      </h1>
      <button
      type="button"
      class="close closebtn"
      data-bs-dismiss="modal"
      aria-label="Close"
      >
        <img src="../../../assets/images/close.png" width="40px">
      </button>
    </div>

    <div class="modal-body full-width-box">
      <div class="container">
       
        <div class="row">
          <form class="w-100 mt-4 ">
            
            <div class="row mb-3 justify-content-center">
            
              <div class="col-md-12 text-right">
                <label>عنوان الورقة عمل</label>
                <input type="text" class="form-control rounded-pill" />
              </div>

              <div class="col-md-12 text-right">
                <label>اجمالي الدرجات</label>
                <input type="text" class="form-control rounded-pill" />
              </div>

               <!-- Switch Container for تحديد وقت -->
               <div class="col-md-12 justify-content-between switch-container">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider"></span>
                </label>
                <span class="switch-label">تحديد وقت</span>
              </div>


              <div class="col-md-12 justify-content-between switch-container">
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider"></span>
                </label>
                <span class="switch-label ">نشر تلقائي</span>
              </div>
              
              
         
              
              


            </div>
        

          </form> 
        </div> 
      </div>
      
    </div>
    <div class="modal-footer">
      <button class="btn custombtn">حفظ</button>
    </div>
  </div>
</div>
</div>
</div>


<!-- Student Modal -->

<div
class="modal fade"
id="student"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog ">
<div class="modal-content outer-container">
  <div class="inner-container">
    <div class="modal-header">
      <h1 class="modal-title" id="staticBackdropLabel">
      مشاركة ورقة عمل
      </h1>
      <button
      type="button"
      class="close closebtn"
      data-bs-dismiss="modal"
      aria-label="Close"
      >
        <img src="../../../assets/images/close.png" width="40px">
      </button>
    </div>

 

    <div class="modal-body ">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn custombtn2">أرسال</button>
        <div class="search">
          <input type="search" placeholder="بحث عن طالب" name="search">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.3333 29.3334L22.3388 22.3389M26 13.5C26 6.59644 20.4036 1 13.5 1C6.59644 1 1 6.59644 1 13.5C1 20.4036 6.59644 26 13.5 26C20.4036 26 26 20.4036 26 13.5Z" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
      <div class="students-list">
        <div class="student" *ngFor="let student of students; let i = index">
          <div >
            <span class=" me-1" (click)="toggleDropdown(i)" > </span><span (click)="toggleDropdown(i)"> </span>
          </div>
      
          <div class="student-info" (click)="toggleDropdown(i)">
            <span class="student-name">{{ student.name }}</span>
      
            <img
              [src]="student.image"
              alt="Student Image"
              class="student-image"
            />
      
         
      
            <div class="student-icons">
              <span class="badge">
                <input type="checkbox">
              </span>
            </div>
          </div>
  
  
        </div>
      </div>
      
    </div>

 
  </div>
</div>
</div>
</div>