<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <!-- <div class="text w-100">
                            <h2>Welcome to login</h2>
                            <p>Don't have an account?</p>
                            <a href="#" class="btn btn-white btn-outline-white">Sign Up</a>
                        </div> -->
              </div>
                    <div class="login-wrap p-4 p-lg-5">
                  <div class="d-flex">
                      <div class="w-100 ">
                          <h3 class="mb-4 text-end ">تسجيل دخول</h3>
                      </div>
                         
                  </div>


                  <div class="row">
                    <div class="col-md-6">
                      <button class="form-control btn btn-primary2">المعلم</button>
                    </div>
                    <div class="col-md-6">
                      <button class="form-control btn btn-primary3">الطالب</button>
                    </div>

                  </div>

                        <form action="#" class="signin-form">
                      <div class="form-group mb-3 text-md-right">
                          <label class="label" for="name">الاسم بالكامل</label>
                          <input type="text" class="form-control text-md-right" placeholder="اضف الاسم" required>
                      </div>

                      <div class="form-group mb-3 text-md-right">
                        <label class="label" for="phone">رقم الجوال</label>
                        <div class="d-flex justify-content-between align-items-center">
                          <!-- Phone Number Input -->
                          <input type="text" class="form-control" id="phone" placeholder="اضف رقم الهاتف" required>
                          <!-- Country Code and Flag -->
                          <div class="country-code-box d-flex align-items-center ml-3">
                            <img src="https://flagcdn.com/24x18/sa.png" alt="KSA Flag" width="20">
                            <span class="ml-2">+966</span>
                          </div>
                        </div>
                      </div>
                      
                <div class="form-group mb-3 text-md-right">
                    <label class="label" for="password">كلمه السر</label>
                  <input type="password" class="form-control text-md-right" placeholder="*********" required>
                </div>

                <div class="form-group mb-3 text-md-right">
                    <label class="label" for="password">تاكيد كلمه المرور</label>
                  <input type="password" class="form-control text-md-right" placeholder="*********" required>
                </div>

                <div class="form-check float-end mb-4">
                  <label class="form-check-label" for="flexCheckChecked" style="font-size: small;">
                    الموافقه علي الشروط والاحكام <br>
                    وايضا الموافقه علي العهود و المواثيق
                  </label>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                </div>
          
                <div class="form-group mt-3">
                    <button type="submit" class="form-control btn btn-primary submit px-3"> انشاء حساب</button>
                </div>


                <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <p class="text-center">
                      هل لديك حساب بالفعل؟ 
                      <a routerLink="/login">تسجيل دخول</a>
                    </p>
                  </div>
              </form>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>
