  .background-container {
    position: relative; /* Position context for child elements */
    min-height: 100vh; /* Set a smaller height */
    display: flex; /* For centering the form */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevent scrolling within this container */
    /* background-image: url('../../../assets/images/back.jpg'); */
    /* background-color: #EDECEC; */
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:contain;
    padding: 50px;
  }
  .overlay {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .top-left {
  position: absolute; /* Position it at the top left */
  top: 20px; /* Adjust as necessary */
  left: 20px; /* Adjust as necessary */
  z-index: 2; /* Ensure it's above the overlay */
}

.circle-image-container {
  position: relative; /* Position context for the icon */
  width: 50px; /* Set the size for the circle */
  height: 50px; /* Set the size for the circle */
}

.circle-image {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border-radius: 50%; /* Make it circular */
}

.your-icon-class {
  position: absolute; /* Position it over the circle image */
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Center the icon */
  font-size: 20px; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
}

.top-right {
  position: absolute; /* Position it at the top right */
  top: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  z-index: 2; /* Ensure it's above the overlay */
}

.icon-class-1, .icon-class-2 {
  font-size: 24px; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
}

.my-form {
  position: relative; /* This makes the form above the overlay */
  z-index: 2; /* Ensure the form is above the overlay */
  background-color: rgba(223, 206, 178, 0.7); /* Semi-transparent background */
  padding: 20px; /* Adds some padding to the form */
  border-radius: 30px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for form */
  height: auto;
 /* Fixed height */
}

.custom-form{
  width:700px;
  margin-top: 20px;

  
}
.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.step span {
  display: block;
}

.step-completed {
  background-color: #6D4E1F; /* Green for completed steps */
}

.step.active {
  background-color: #6D4E1F; /* Blue for active step */
  width: 50px; /* Larger size for active step */
  height: 50px;
  font-size: 24px; /* Larger font size for active step */
}

.line {
  width: 100px;
  height: 4px;
  background-color: #6D4E1F;
}

.line2 {
  width: 100px;
  height: 4px;
  background-color: #e0e0e0;
}

.line.completed {
  background-color: #6D4E1F; /* Green line for completed step */
}

.remain{
  color:#6D4E1F;
}


.label {
  margin-top: 10px;
  font-size: 14px;
  color: #6D4E1F;
}
.custom-box{
  background-color: #fff;
  padding:20px;
  border-radius:10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.custom-box .form-check-label{
  margin-top: 5px;
}
.custom-box2{
  background-color: #fff;
  border-radius:10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  font-size: 8px;
  text-align: center;
  padding: 10px;
  font-weight:bold;
  margin-left: 10px;
  align-items: center; /* Center vertically */
}
.custom-box2 .container .form-check-input{
  width:2em;
  height:2em;
}
.custom-box2 .form-check-label{
  margin-top: 5px;
  font-weight:bold;
}
.stage{
  justify-content: center;
}
.classes{
  justify-content: center;
}
.materials{
  justify-content: center;
}
.duration{
  justify-content: center;
}
.form-check-input{
  border-color: black;
}

.payment{
    margin-top:10px;
}
.payment-tool {
    background-color:#ffffff;
    color:#000;
    border-radius:20px;
    padding: 20px;
    text-align: center;
    float: right; 
}
.payment-total-information {
    background-color:#ffffff;
    color:#000;
    border-radius:10px;
    padding: 10px;
    text-align: center;
    float: left; 
}

.icon-container {
  position: absolute;
  z-index: 3;
  display: flex;
  gap: 10px; 
  margin-top: 10px;/* Space between icons */
}

.left-icons {
  left: 25%; /* Position on the left */
  top: 3%; /* Center vertically */
  transform: translateY(-50%);
}

.right-icons {
  right: 25%; /* Position on the right */
  top: 3%; /* Center vertically */
  transform: translateY(-50%);
}
.nav_icon{
  padding: 5px;
  border-radius: 10px;
  background-color: #001a72;
}




