<div class="background-container">
  <img
    class="background-image"
    src="../../../assets/images/back.jpg"
    alt="Background Image"
  />
  <div class="overlay"></div>
  
  <div class="custom-form">
    <div class="my-form">
      <div class="form-group">
        <div class="stepper">
          <div class="step active">
            <span>1</span>
          </div>
          <div class="line2"></div>
          <div class="step">
            <span class="remain">2</span>
          </div>
          <div class="line2"></div>
          <div class="step">
            <span class="remain">3</span>
          </div>
        </div>
        <h4 class="text-end">المنطقه</h4>
        <div class="select-container" dir="rtl">
          <select
            id="custom-select"
            class="form-select form-select-lg mb-3"
            dir="rtl"
          >
            <option selected disabled> قم باختيار المنطقه</option>
            <!-- Arabic placeholder -->
            <option value="1">منطقة الرياض</option>
            <!-- Arabic options -->
            <option value="2">منطقة مكة المكرمة</option>
            <option value="3">منطقة الشرقية</option>
            <option value="4">منطقة المدينة</option>
          </select>
        </div>

        <h4 class="text-end">المرحلة</h4>
        <div class="row stage">
          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleSec()"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
              المرحلة الثانوية
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleprep()"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault2">
              المرحلة المتوسطة
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="togglePrimary()"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
              المرحلة الإبتدائية
            </label>
          </div>
        </div>


        <h4 class="text-end mt-3" *ngIf="isHeaderShow">الصف</h4>


<!--start primary  -->

        <div class="row classes" *ngIf="isPrimaryClick">
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
              السادس الابتدائئ
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault2">
              الخامس الابتدائئ
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
              الرابع الابتدائئ
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
              الثالث الابتدائئ
            </label>
          </div>
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
              الثاني الابتدائئ
            </label>
          </div>
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
              الاول الابتدائئ
            </label>
          </div>
        </div>

        <!-- end primary -->



        <!-- start prep -->


        <div class="row classes mt-3" *ngIf="isPrepClick">

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الثالث المتوسط
            </label>
          </div>


          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الثاني المتوسط
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الاول المتوسط
            </label>
          </div>

        </div>


        <!-- end prep -->


        <!-- start sec -->

        <div class="row classes mt-3" *ngIf="isSecClick">

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الثالث الثانوي
            </label>
          </div>


          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الثاني الثانوي
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                (click)="toggleMatrial()"

                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
             الاول الثانوي
            </label>
          </div>

        </div>

        <!-- end sec -->

        <h4 class="text-end mt-3" *ngIf="isHeaderMAterialShow">المواد</h4>

        <div class="row materials" *ngIf="isMaterailShow">
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
               الرياضيات
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault2">
               الفلسفه
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
               اللغه الانجليزيه
            </label>
          </div>

          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
               الاحياء
            </label>
          </div>
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
الدراسات الاجتماعيه         
   </label>
          </div>
          <div class="col-md-1 custom-box2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
             اللغه العربيه
            </label>
          </div>
        </div>

        <h4 class="text-end mt-3" >مده الاشتراك</h4>

        <div class="row duration" >
          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault1">
              الفصل الدراسي الثالث
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault2">
              الفصل الدراسي الثاني
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <div class="container">
              <div >
                <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault3"
                />  
              </div>
            </div>
            <label class="form-check-label" for="flexCheckDefault3">
               الفصل الدراسي الاول
            </label>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
          <button class="btn btn-light mt-3 ">حدد طريقة الدفع</button>
          </div>

          <!-- <div class="col-lg-1 col-md-1 col-sm-1">
          </div>
          <div class="payment-total-information col-lg-8 col-md-8 col-sm-8">
            <div class="container">
              <div class="row">
                <h5 class="col-lg-4 col-md-4 col-sm-4">الإجمالي</h5>
                <h5 class="col-lg-4 col-md-4 col-sm-4">الخصم</h5>
                <h5 class="col-lg-4 col-md-4 col-sm-4">المجموع الكلي</h5>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <h5 class="total-price col-lg-4 col-md-4 col-sm-4">100<span>ر.س</span></h5>
                <h5 class="discount col-lg-4 col-md-4 col-sm-4">5<span>%</span></h5>
                <h5 class="final-price col-lg-4 col-md-4 col-sm-4">95<span>ر.س</span></h5>
              </div>
            </div> -->

      </div>
    </div>
  </div>
</div>
