<div class="background-container">
  <img
    class="background-image"
    src="../../../assets/images/back.jpg"
    alt="Background Image"
  />
  <div class="overlay"></div>

  <div class="custom-form">
    <div class="my-form">
      <div class="form-group">
        <h4 class="text-end">المنطقه</h4>
        <div class="select-container" dir="rtl">
          <select
            id="custom-select"
            class="form-select form-select-lg mb-3"
            dir="rtl"
          >
            <option selected>افتح القائمة</option>
            <!-- Arabic placeholder -->
            <option value="1">واحد</option>
            <!-- Arabic options -->
            <option value="2">اثنين</option>
            <option value="3">ثلاثة</option>
          </select>
        </div>

        <h4 class="text-end">المرحلة</h4>
        <div class="row">
          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault1"
            />
            <label class="form-check-label" for="flexCheckDefault1">
              المرحلة الثانوية
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault2"
            />
            <label class="form-check-label" for="flexCheckDefault2">
              المرحلة المتوسطة
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              المرحلة الإبتدائية
            </label>
          </div>
        </div>

        <h4 class="text-end mt-3">الصف</h4>

        <div class="row">
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault1"
            />
            <label class="form-check-label" for="flexCheckDefault1">
              السادس الابتدائئ
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault2"
            />
            <label class="form-check-label" for="flexCheckDefault2">
              الخامس الابتدائئ
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              الرابع الابتدائئ
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              الثالث الابتدائئ
            </label>
          </div>
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              الثاني الابتدائئ
            </label>
          </div>
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              الاول الابتدائئ
            </label>
          </div>
        </div>


        <h4 class="text-end mt-3">المواد</h4>

        <div class="row">
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault1"
            />
            <label class="form-check-label" for="flexCheckDefault1">
               الرياضيات
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault2"
            />
            <label class="form-check-label" for="flexCheckDefault2">
               الفلسفه
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
               اللغه الانجليزيه
            </label>
          </div>

          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
               الاحياء
            </label>
          </div>
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
الدراسات الاجتماعيه         
   </label>
          </div>
          <div class="col-md-2 custom-box2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
             اللغه العربيه
            </label>
          </div>
        </div>

        <h4 class="text-end mt-3">مده الاشتراك</h4>

        <div class="row">
          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault1"
            />
            <label class="form-check-label" for="flexCheckDefault1">
              الفصل الدراسي الثالث
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault2"
            />
            <label class="form-check-label" for="flexCheckDefault2">
              الفصل الدراسي الثاني
            </label>
          </div>

          <div class="col-md-3 custom-box mx-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
               الفصل الدراسي الاول
            </label>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-light mt-3 ">حدد طريقة الدفع</button>
          </div>

      </div>
    </div>
  </div>
</div>
