<div class="background-container">
  <div class="overlay"></div>


  <div class="Topnavbar">
    <!-- Left icons container -->

    <div class="icon-container3 left-icons">
      <div class="nav_icon">
        <img
          src="../../../assets/images/settings.svg"
          width="30px"
          height="30px"
        />
        <span style="color: white" class="ps-3">الاعدادات</span>
      </div>
      <div class="nav_icon2">
        <img
          src="../../../assets/images/bellblue.png"
          width="30px"
          height="30px"
        />
      </div>
    </div>

    <!-- Right icon container -->
    <div class="icon-container3 right-icons">
      <div class="nav_icon">
        <img src="../../../assets/images/home.svg" width="30px" height="30px" />
        <span style="color: white" class="ps-3">الرئيسية</span>
      </div>
    </div>
  </div>






  <div class="custom-form">
        
  <div class="container-fluid edit-nav">
    <div class="row">
    
      <div class="col-8">
        <button class="edit-button me-2">تعديل</button>
        <button class="edit-button me-2">ارسال</button>
        <button class="edit-button me-2">pdfتصدير </button>
        <button class="edit-button">طباعه</button>
      </div>
      <!-- <div class="col-2">
        <button class="edit-button">ارسال</button>
      </div> -->
      <!-- <div class="col-2">
        <button class="edit-button" style="align-items: center;">pdfتصدير </button>
      </div> -->
      <!-- <div class="col-2">
        <button class="edit-button">طباعه</button>
      </div> -->
    </div>
  </div>

    <div class="my-form">
      <div class="logo-header">
        <div class="left-icon">
          <!-- Placeholder for the circular icon on the left side -->
          <div class="circle-icon">?</div>
        </div>

        <div class="center-logo">
          <!-- Vision 2030 Logo and Ministry of Education text -->
          <img
            src="../../../assets/images/logo2030.png"
            alt="Vision 2030"
            class="vision-logo"
          />
        </div>

        <div class="right-details">
          <!-- Ministry of Education text and school details in the same div -->
          <div class="ministry-text">
            المملكة العربية السعودية<br />
            وزارة التعليم
          </div>
          <div class="school-container">
            
              <input type="text" class="school-input" />
              <span>: المدرسة</span>
            </div>
        </div>
      </div>

      <div class="field2">
        <input type="text" class="dotted-input" placeholder="" />
        <span>/تحويل طالب </span>
      </div>

      <div class="container">
        <div class="column">
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/بالصف </span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/بالصف </span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/بالصف </span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/بالصف </span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/بالصف </span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/الحصة الدراسية</span>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ اسم الطالب</span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ اسم الطالب</span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ اسم الطالب</span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ اسم الطالب</span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ اسم الطالب</span>
          </div>
          <div class="field">
            <input type="text" class="dotted-input" placeholder="" />
            <span>/ المادة</span>
          </div>
        </div>
      </div>

      <div class="field2">
        <span>سبب التحويل</span>
      </div>
      <div class="checkbox-group field2">
        <label>
          <span>ضعف دراسي</span>
          <input type="checkbox" class="checkbox" />
        </label>
        <label>
          <span>تأخر عن الحصة</span>
          <input type="checkbox" class="checkbox" />
        </label>

        <label>
          <span>مشاغبة</span>
          <input type="checkbox" class="checkbox" />
        </label>
        <label>
          <span>عدم أداء الواجب</span>
          <input type="checkbox" class="checkbox" />
        </label>
      </div>

      <div class="additional-fields">
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span class="field-label">/ سبب آخر</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span class="field-label">/ إيضاح المشكلة</span>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التاريخ</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التوقيع</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/أسم المعلم</span>
        </div>
      </div>

      <div class="field3">
        <span>: ماتم حيال الطالب (خاص بوكيل المدرسة)</span>
        <div class="dotted-line" contenteditable="true"></div>
        <div class="dotted-line" contenteditable="true"></div>
        <div class="dotted-line" contenteditable="true"></div>
      </div>

      <!-- adding checkbox -->
      <div class="checkbox-group field4">
        <label>
          <!-- <span>ضعف دراسي</span>
          <input type="checkbox" class="checkbox" /> -->
        </label>
        <label>
          <!-- <span>تأخر عن الحصة</span>
          <input type="checkbox" class="checkbox" /> -->
        </label>

        <label>
          <!-- <span>مشاغبة</span>
          <input type="checkbox" class="checkbox" /> -->
        </label>
        <label>
          <span>تمت إحالة الي الموجه الطلابي</span>
          <input type="checkbox" class="checkbox" />
        </label>
      </div>

      <div class="row">
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التاريخ</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التوقيع</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/وكيل المدرسة</span>
        </div>
      </div>

      <div class="field3">
        <span>: ماتم حيال الطالب (خاص بوكيل المدرسة)</span>
        <div class="dotted-line" contenteditable="true"></div>
        <div class="dotted-line" contenteditable="true"></div>
        <div class="dotted-line" contenteditable="true"></div>
      </div>

      <div class="row">
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التاريخ</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/التوقيع</span>
        </div>
        <div class="field">
          <input type="text" class="dotted-input" placeholder="" />
          <span>/وكيل المدرسة</span>
        </div>
      </div>


      <div class="notes-container">
        <span>ملاحظات:</span>
        <div class="notes">
          <label for="note1">1 - </label>
          <input type="text" id="note1" [(ngModel)]="notes.note1" placeholder="أضف ملاحظاتك هنا">
        </div>
        <div class="notes">
          <label for="note2">2 - </label>
          <input type="text" id="note2" [(ngModel)]="notes.note2" placeholder="أضف ملاحظاتك هنا">
        </div>
        <div class="notes">
          <label for="note3">3 - </label>
          <input type="text" id="note3" [(ngModel)]="notes.note3" placeholder="أضف ملاحظاتك هنا">
        </div>
        <div class="notes">
          <label for="note4">4 - </label>
          <input type="text" id="note4" [(ngModel)]="notes.note4" placeholder="أضف ملاحظاتك هنا">
        </div>
        <div class="notes">
          <label for="note5">5 - </label>
          <input type="text" id="note5" [(ngModel)]="notes.note5" placeholder="أضف ملاحظاتك هنا">
        </div>
      </div>
      
    </div>
  </div>
</div>
