<div class="background-container">
  <app-navbar></app-navbar>

  <div class="custom-form">
    <div class="my-form">
      <div class="form-group">
        <div class="container">
          <div class="d-flex row align-items-center">
            <div class="outline col-lg-3 col-md-4 col-sm-5 col-10" *ngFor="let class of classes" >
              <div
              class="box2 class-details classes-container"
              >
              <div>
                <div class="header-container">
                  <div (click)="toggleNav(class.id)" class="icon-container2">
                    <img
                    src="../../../assets/images/settings.svg"
                    alt="Settings"
                    width="30px"
                    height="20px"
                    />
                  </div>
                  <p class="header-text">فصل : {{ class.classsName }}</p>
                </div>
                
                <div class="small-nav" *ngIf="navOpenStates[class.id]">
                  <!-- Edit Icon and Text -->
                  <div class="nav-item2">
                    <img src="../../../assets/images/edit-4.png" alt="Edit" />
                    <span>تعديل الفصل</span>
                    <!-- Arabic text for "Edit class" -->
                  </div>
                  
                  <!-- Delete Icon and Text -->
                  <div class="nav-item2">
                    <img
                    src="../../../assets/images/trash-2.png"
                    alt="Delete"
                    />
                    <span>حذف الفصل</span>
                    <!-- Arabic text for "Delete class" -->
                  </div>
                </div>
                
                <div class="student-info-container">
                  <div class="text-container">
                      <p class="student-text">عدد الطلاب</p>
                      <p class="student-number">{{ class.studentCount }}</p>
                    </div>
                    <div class="image-container">
                      <img
                      src="../../../assets/images/class.png"
                        alt="students"
                        width="50px"
                        height="50px"
                      />
                    </div>
                  </div>
                  
                  <button 
                  class="students-button"
                  (click)="updateLocalStorage(class.id)"
                  routerLink="/points">
                    الطلاب
                  </button>
                </div>
              </div>
            </div>
            <div class="box add-class col-lg-3 col-md-4 col-sm-5 col-10">
              <div style="margin:20%"> 
              <img
                src="../../../assets/images/plus-circle2.png"
                alt="Add Class"
                data-bs-toggle="modal" data-bs-target="#class"
              />
              <p>إضافة فصل جديد</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Class Modal -->
<div class="modal fade"  id="class" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">اضافة فصل</h1>
          <button type="button" class="close closebtn" data-bs-dismiss="modal" aria-label="Close">
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body full-width-box">
          <form class="w-100 " [formGroup]="classForm" (ngSubmit)="onSubmit()">
            <div class="row mb-1 justify-content-center" style="background-color: #FCF2BD;
            padding: 10px 10px 40px;
            border-radius: 20px;">
              <div class="col-md-12 text-right">
                <label>اسم الفصل</label>
                <input type="text" class="form-control rounded-pill" formControlName="className" />
                <div *ngIf="classForm.get('className')?.invalid && classForm.get('className')?.touched" class="text-danger">
                  اسم الفصل مطلوب
                </div>
              </div>
            </div>
            <div class="modal-footer" style="float: right;">
              <button class="custombtn2" type="submit" [disabled]="classForm.invalid" >حفظ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="col-md-12 text-right mt-3">
  <label>المواد المطلوبة</label>
  
  <div class="chip-input form-control rounded-pill" (click)="inputField.focus()">
    <ng-container *ngFor="let selectedSkill of selectedSkills">
      <mat-chip [removable]="true" (removed)="removeSkill(selectedSkill)">
        {{ selectedSkill }}
        <mat-icon matChipRemove>close</mat-icon>
      </mat-chip>
    </ng-container>
    
    <input #inputField
           type="text"
           class="form-control rounded-pill"
         
           (keydown.enter)="addSkill(inputField.value); inputField.value='';"
           (blur)="inputField.value='';" />
  </div>
</div>

<div class="checkbox-list">
  <div *ngFor="let skill of allSkills">
    <label>
      <input type="checkbox" (change)="onSkillSelect(skill, $event)" />
      {{ skill }}
    </label>
  </div>
</div> -->