<div class="background-container">
  <div class="overlay"></div>
  <nav class="navbar">
    <div class="container"></div>
  </nav>
  <div class="custom-form">
    <div class="my-form">
      <div class="form-group">

        <div class="flex-container">

          <div class="box add-class">
            <img
              src="../../../assets/images/plus-circle2.png"
              alt="Add Class"
              data-bs-toggle="modal" data-bs-target="#class"
            />
            <p>إضافة فصل جديد</p>
          </div>



          <div class="outline">
          <div class="box2 class-details">
            <div>
              <div class="header-container">
                <div (click)="toggleNav()" class="icon-container">
                  <img
                    src="../../../assets/images/settings.svg"
                    alt="Settings"
                    width="30px"
                    height="20px"
                  />
                </div>
                <p class="header-text">فصل رابعه اول</p>
              </div>

              <div class="small-nav" *ngIf="navOpen">
                <!-- Edit Icon and Text -->
                <div class="nav-item">
                  <img src="../../../assets/images/edit-4.png" alt="Edit" />
                  <span>تعديل الفصل</span>
                  <!-- Arabic text for "Edit class" -->
                </div>

                <!-- Delete Icon and Text -->
                <div class="nav-item">
                  <img src="../../../assets/images/trash-2.png" alt="Delete" />
                  <span>حذف الفصل</span>
                  <!-- Arabic text for "Delete class" -->
                </div>
              </div>

              <div class="student-info-container">
                <div class="text-container">
                    <p class="student-text">عدد الطلاب</p>
                    <p class="student-number">35</p>
                </div>
                <div class="image-container">
                    <img src="../../../assets/images/class.png" alt="students" width="50px" height="50px">
                </div>
                
            </div>

            <button class="students-button" routerLink="/student">الطلاب</button>



            </div>
          </div>
        </div>

          
        </div>


      </div>
    </div>
  </div>
</div>




<!-- Class Modal -->
<div
  class="modal fade"
  id="class"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
          اضافة فصل
          </h1>
          <button
          type="button"
          class="close closebtn"
          data-bs-dismiss="modal"
          aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px">
          </button>
        </div>

        <div class="modal-body full-width-box">
          <div class="container">
            <!-- <div class="row lineclass">
              <div class="col-md-12 align-items-center justify-content-center">
                <div class="user-img-container">
                  <img src="../../../assets/images/user-plus.png" alt="User Image" class="user-img" />
                </div>
              </div>
            </div>  -->
            <div class="row">
              <form class="w-100 mt-4 ">
                
                <div class="row mb-3 justify-content-center">
                
                  <div class="col-md-12 text-right">
                    <label> اسم الفصل</label>
                    <input type="text" class="form-control rounded-pill" />
                  </div>


                  <div class="col-md-12 text-right mt-3">
                    <label>المواد المطلوبة</label>
                    
                    <div class="chip-input form-control rounded-pill" (click)="inputField.focus()">
                      <!-- Display selected skills as chips inside the input field -->
                      <ng-container *ngFor="let selectedSkill of selectedSkills">
                        <mat-chip [removable]="true" (removed)="removeSkill(selectedSkill)">
                          {{ selectedSkill }}
                          <mat-icon matChipRemove>close</mat-icon>
                        </mat-chip>
                      </ng-container>
                      
                      <!-- Input field for adding new skills -->
                      <input #inputField
                             type="text"
                             class="form-control rounded-pill"
                           
                             (keydown.enter)="addSkill(inputField.value); inputField.value='';"
                             (blur)="inputField.value='';" />
                    </div>
                  </div>
                  
                  <div class="checkbox-list">
                    <!-- Checkbox list for skills selection -->
                    <div *ngFor="let skill of allSkills">
                      <label>
                        <input type="checkbox" (change)="onSkillSelect(skill, $event)" />
                        {{ skill }}
                      </label>
                    </div>
                  </div>
                  
                  

    
                </div>
            

              </form> 
            </div> 
          </div>
          
        </div>
        <div class="modal-footer">
          <button class="btn custombtn">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

