<div class="background-container">
  <div class="overlay"></div>

  <div class="icon-container left-icons align-items-center">
    <img src="../../../assets/images/human.png" width="60px" height="60px" />
    <div class="nav_icon">
      <img src="../../../assets/images/bell.svg" width="30px" height="30px" />
    </div>
  </div>

  <div class="icon-container center-icons align-items-center">
    <h1 class="myPop" data-bs-toggle="modal" data-bs-target="#exampleModal">
      توزيع المنهج
    </h1>
  </div>

  <div class="icon-container right-icons align-items-center">
    <div class="nav_icon">
      <img
        src="../../../assets/images/settings.svg"
        width="30px"
        height="30px"
      />
    </div>
    <div class="nav_icon">
      <img src="../../../assets/images/home.svg" width="30px" height="30px" />
    </div>
  </div>

  <div class="custom-form">
    <div class="container-fluid edit-nav">
      <div class="row">
        <div class="col-8">
          <button class="edit-button me-2">ارسال</button>
          <button class="edit-button me-2">طباعه</button>
          <button class="edit-button">pdfتصدير</button>
        </div>
      </div>
    </div>

    <div class="my-form">
      <div class="logo-header">
        <div class="left-icon">
          <!-- Placeholder for the circular icon on the left side -->
          <div class="circle-icon">?</div>
        </div>

        <div class="center-logo">
          <h2 class="arabic-text">بسم الله الرحمن الرحيم</h2>
        </div>

        <div class="right-details">
          <img
            src="../../../assets/images/logo2030.png"
            alt="Vision 2030"
            class="vision-logo"
            width="70px"
            height="60px"
          />
        </div>
      </div>

      <table>
        <thead>
          <tr style="background-color: #289282; color: white; border: none;">
            <th>التفاصيل</th>
            <th>الحصة (1)</th>
            <th>الحصة (2)</th>
            <th>الحصة (3)</th>
          </tr>
        </thead>
        <tbody>
          <tr style="border: 2px solid #76BD6B;">
            <th>عنوان الدرس</th>
            <td>قيام الدولة السعودية</td>
            <td>قيام الدولة السعودية</td>
            <td>تابع قيام الدولة السعودية</td>
          </tr>
          <tr>
            <th>الواجب</th>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
          </tr>
          <tr>
            <th>الحفظ</th>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
          </tr>
          <tr>
            <th>ملاحظات المعلم</th>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
            <td>قم بكتابة التفاصيل</td>
          </tr>
        </tbody>
      </table>

      <footer>
    
        <span>(1/5) --- (1/6)</span>
        <span> -----------------: المدرسة</span>
        <div class="ministry-text">
            المملكة العربية السعودية<br />
            وزارة التعليم
          </div>
      </footer>
    

    </div>
  </div>
</div>
