<!-- Main Container -->
<div class="container-fluid">
  <div class="row justify-content-between user-navbar">
    <!-- Left Box -->
    <div class="col-2 box left-box justify-content-center align-items-center">
      <div class="container-fluid justify-content-center align-items-center" *ngIf="isTeacherPhotoVisible">
        <div class="row justify-content-between">
          <div class="col-12 justify-content-between">
            <img src="../../../../assets/images/human.png" class="c_img" style="width: 56%;" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="align-items-center">----- : المعلم</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Center Box -->
    <div class="box col-7 center-box">
      <!-- Top Section -->
      <div class="d-flex justify-content-between align-items-center">
        <!-- Clock Section: Left (Time & AM/PM) -->
        <div class="time" *ngIf="isClockVisible">
          <span class="current-time">7:25</span>
          <span class="am-pm">ص</span>
        </div>

        <!-- Heading and Button: Center -->
        <div class="text-center flex-grow-1">
          <h2 *ngIf="isH2Visible" class="arabic-text">
            بسم الله الرحمن الرحيم
          </h2>
        </div>

        <!-- Button Section: Right -->
        <div class="start-btn text-end">
          <button
    class="btn btn-primary"
    [ngStyle]="{
      'background-color': '#F9EFBC',
      color: 'black',
      'font-weight': 'bold',
      border: '1px solid #fa6707',
      'border-radius': '0'
    }"
  (click)="isLectureStarted ? onEndLecture() : onStartLecture()"
  >
    {{ isLectureStarted ? 'انهاء الحصة' : 'ابدأ الحصة' }}
  </button>
        </div>
      </div>

      <!-- Second Line -->
      <div class="d-flex justify-content-between align-items-center mb-1">
        <!-- Date Section: Left -->
        <div class="time" *ngIf="isDateVisible">
          <span class="current-date">11/9/2024</span>
        </div>

        <!-- Lesson Name: Center -->
        <div class="text-center flex-grow-1">
          <h3
            *ngIf="isH3Visible"
            style="color: #918b73; font-size: larger; padding-right: 80px"
          >
            الدرس الثاني : قيام الدولة الأموية
          </h3>
        </div>
      </div>

      <!-- Third Line: Timer -->
      <div class="timer-section text-center" *ngIf="isTimerVisible">
        <img
          src="../../../../assets/images/clock.png"
          alt="Clock Icon"
          class="clock-icon"
        />
        <input
          type="number"
          class="time-remaining"
          [(ngModel)]="remainingMinutes"
          (blur)="onBlur()"
          placeholder="Enter minutes"
        />
        

        <span *ngIf="remainingTime !== null" class="countdown-timer">
          {{ remainingTime }} د
        </span>
      </div>

      <!-- Progress Bar Section -->
      <div class="progress-container" *ngIf="isProgressVisible">
        <div class="progress-step">
          <div class="progress-icon" id="step2">
            <img
              src="../../../../assets/images/closeBox.png"
              width="50px"
              height="30px"
            />
          </div>
        </div>
        <div class="progress-line"></div>
        <div class="progress-step">
          <div class="progress-icon" id="step3">
            <img
              src="../../../../assets/images/closeBox.png"
              width="50px"
              height="30px"
            />
          </div>
        </div>
        <div class="progress-line activeLine"></div>
        <div class="progress-step">
          <div class="progress-icon" id="step1">
            <img
              src="../../../../assets/images/openBox.png"
              width="50px"
              height="30px"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Right Box -->
    <div class="col-2 box right-box justify-content-center align-items-center">
      <div class="container-fluid justify-content-center align-items-center" *ngIf="isStudentPhotoVisible">
        <div class="row justify-content-between">
          <div class="col-12 justify-content-between" style="margin-top: 9%;">
            <img src="../../../../assets/images/student.png" class="c_img"  *ngIf="selectedStudent" style="border: 9px solid white;
            margin-bottom: 9px;
            border-radius: 14px;
            width: 60%;
        "/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">

            <div *ngIf="selectedStudent">
              <p>الطالب: {{ selectedStudent.firstName }} {{ selectedStudent.lastName }}</p>
            </div>
            <!-- <p class="align-items-center text-end">----- : الطالب</p> -->

            <!-- <div class="timer-section text-center" >
            
              <input
                type="number"
                class="time-remaining"
                [(ngModel)]="remainingTimeSec"
                (blur)="onBlur2()"

                style="max-width: 90px;
                border-radius: 15px;
                padding-top: 0px;"
             
              />
              
              <span *ngIf="remainingTimeSec !== null" class="countdown-timer">
                {{ remainingTimeSec }} ث
              </span>
           
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row toolsbar justify-content-between">
    <div class="col-12">
      <div class="container-fluid toolbarin">
        <div class="row justify-content-between">
          <div class="col_c1">
            <!-- btn for white board -->
            <div class="container-fluid">
              <div class="row justify-content-between">

                <div class="btn_r">
                  <div class="c_btnl justify-content-center" *ngFor="let board of boards">
                    <button
                      class="btn custom-button"
                      [ngClass]="{ active: activeBoard === board.id }"
                      (click)="switchBoard(board.id)"
                    >
                    {{ board.id }}
                    </button>
                  </div>
                  <!-- <div class="c_btnl justify-content-center">
                    <button
                      class="btn custom-button"
                      [ngClass]="{ active: activeBoard === 1 }"
                      (click)="switchBoard(1)"
                    >
                      1
                    </button>
                  </div> -->
                  <div class="c_btnl justify-content-center">
                    <button
                      class="btn custom-button"
                      (click)="addNewBoard()"                    >
                      +
                    </button>
                  </div>
                  <div class="c_btnl" routerLink="/main">
                    <div class="icon-bg3" style="margin-top: -6px">
                      <img
                        src="../../../../assets/images/undoB.png"
                        alt="Right Icon"
                        width="30px"
                      />
                    </div>
                  </div>
                </div>

                <div class="btn_l">


                  <div class="c_btnr justify-content-center">
                    <img src="../../../../assets/images/cross.png" width="25px;" style="margin: 4px;" >
                   </div>

                  <div class="c_btnr justify-content-center">
                   <img src="../../../../assets/images/check.png" width="25px;" style="margin: 4px;" >
                  </div>

                  <div class="c_btnr justify-content-center">
                    <button
                      class="btn custom-button"
                      [ngClass]="{ active: isInteractionActive }"
                      (click)="showBehavior('s2'); toggleButton('interaction')"
                    >
                      سلوكيات
                    </button>
                  </div>
                  <div class="c_btnr justify-content-center">
                    <button
                      class="btn custom-button"
                      [ngClass]="{ active: isBehaviorActive }"
                      (click)="showBehavior('s3'); toggleButton('behavior')"
                    >
                      التفاعل
                    </button>
                  </div>
                  <div class="c_btnr justify-content-center">
                    <button
                      class="btn custom-button"
                      [ngClass]="{ active: isPreparationActive }"
                      (click)="showBehavior('s1'); toggleButton('preparation')"
                    >
                      التحضير
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- search box -->
          <div class="col_c2">
            <div class="container-fluid">
              <div class="row justify-content-center align-items-center">
                <!-- Search Box -->
                <div
                  class="col-12 search-box justify-content-center align-items-center"
                  style="position: relative; display: flex"
                >
                  <!-- <div class="container">
                    <div class="row">
                      <div class="col-9 justify-content-center align-items-center">
                        <input
                          type="text"
                          placeholder="قم بالبحث عن الطالب"
                          class="form-control"
                        />
                      </div>
                      <div class="col-2 justify-content-center align-items-center" style="display: flex;">
                        <img
                          src="../../../../assets/images/search.png"
                          width="30px"
                          class="search-icon"
                        />
                      </div>
                      <div class="col-1 justify-content-center align-items-center" style="display: flex; color: #001A72;">
                        <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                      </div>
                    </div>
                  </div> -->
                  <div class="container">
                    <div class="row align-items-center">
                      <!-- Input and search icon -->
                      <div
                        class="col-10"
                        style="display: flex; align-items: center; gap: 10px"
                      >
                        <input
                          type="text"
                          placeholder="قم بالبحث عن الطالب"
                          class="form-control"
                          style="flex-grow: 1"
                        />
                        <img
                          src="../../../../assets/images/search.png"
                          width="30px"
                          class="search-icon"
                        />
                      </div>
                      <!-- Gear icon -->
                      <div
                        class="col-2"
                        style="
                          display: flex;
                          justify-content: flex-end;
                          background-color: #fff;
                        "
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      >
                        <img
                          src="../../../../assets/images/settingsBlue.png "
                          width="30px"
                        />
                        <!-- <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Area -->
  <div class="row content-wrapper">
    <!-- Writing Board 1 -->
    <div class="col_c1">
      <div class="container">
        <div
          class="row justify-content-center align-items-center"
          style="padding: 0 px; background-color: #fff; border-radius: 10px"
        >
          <!-- Left Tool Panel -->
          <div class="tools-panel justify-content-center align-items-center">
            <div
              class="container-fluid align-items-center justify-content-center"
            >
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="togglenotdraw()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/pen (5).png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="togglePen()"
                    style="width: 100%; display: flex; justify-content: center"
                    src="https://i.ibb.co/9q6ZxqX/pencil.png"
                    alt="Pen"
                    title="Pen"
                  >
                    <img
                      src="../../../../assets/images/text.png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="fileInput.click()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/img.png"
                      alt="Pencil Icon"
                      style="width: 20px"
                    />
                    <input
                      type="file"
                      #fileInput
                      accept="image/*"
                      (change)="onImageSelected($event)"
                      hidden
                    />
                    <!-- <input type="file" #fileInput accept="image/*" (change)="addImage($event)"  /> -->
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="togglePen()"
                    style="width: 100%; display: flex; justify-content: center"
                    src="https://i.ibb.co/9q6ZxqX/pencil.png"
                    alt="Pen"
                    title="Pen"
                  >
                    <img
                      src="../../../../assets/images/pen (1).png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>
                    <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="redo()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/rotate-right.png"
                      style="width: 15px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="undo()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/rotate-left.png"
                      style="width: 15px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="toggleEraser()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/remove.png"
                      style="width: 20px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="clear()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <span>Clear</span>
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12justify-content-center align-items-center">
                  <input
                    class="c_btn"
                    type="color"
                    [(ngModel)]="color"
                    title="Color"
                    style="width: 100%; display: flex; justify-content: center"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="" style="width: 95%">
            <div class="container">
              <canvas
                #canvas
                id="canvas"
                (mousedown)="mouseDown($event)"
                (mouseup)="mouseUp()"
                (mousemove)="mouseMove($event)"
                (touchstart)="touchStart($event)"
                (touchmove)="touchMove($event)"
                (touchend)="touchEnd()"
                [style.cursor]="cursorStyle"
                style="
                  background-color: #fff;
                  width: 100%;
                  height: auto;
                  padding: 0px;
                "
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Student List -->
    <div class="col_c2 st_data" style="padding: 0px">
      <div class="container-fluid" style="padding: 0px">
        <div class="row row2">
          <div class="col-12">
            <div class="row">
              <!-- <div class="student-list">
                
                <ul class="list-group ">
                  <div class="student-list-container col-12" [ngClass]="{ 'show': isStudentListVisible, 'hide': !isStudentListVisible }">
                    <div class="row" >
                      <div class="student-item" 
                      *ngFor="let student of displayedStudents; let i = index"
                      [ngClass]="{ 'from-top': i % 2 === 0, 'from-bottom': i % 2 !== 0 }"
                      [ngStyle]="{ 'animation-delay': (i * 0.3) + 's' }">
                      <div class="status-icons">
                          <span *ngFor="let status of student.statusIcons" [ngClass]="status.class">
                            {{ status.label }}
                          </span>
                        </div>
                        <div class="student-info">
                          <span class="student-name">{{student.name}}</span>
                          <img [src]="student.image" alt="student" class="student-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>

              </div> -->

              <div
                class="student-list"
                [ngClass]="{
                  'open-background': isStudentListVisible,
                  'closed-background': !isStudentListVisible
                }"
              >
                <ul class="list-group">
                  <div
                    class="student-list-container col-12"
                    [ngClass]="{
                      show: isStudentListVisible,
                      hide: !isStudentListVisible
                    }"
                  >
                    <div class="row" *ngFor="let students of studentData; let i = index">
                      <div
                        class="student-item"
                        *ngFor="let student of displayedStudents; let i = index"
                        [ngClass]="{
                          'from-top': i % 2 === 0,
                          'from-bottom': i % 2 !== 0
                        }"
                        [ngStyle]="{ 'animation-delay': i * 0.3 + 's' }"
                      >
                        <div class="status-icons">
                          <span
                            *ngFor="let status of student.statusIcons"
                            [ngClass]="status.class"
                            (click)="logStatusValue(status.value)" 
                          >
                            {{ status.label }}
                          </span>
                        </div>
                        <div class="student-info"  (click)="saveStudentId(students.id)">
                          <span class="student-name">{{ students.firstName }} {{ students.lastName }}</span>
                          <!-- <img
                            [src]="student.image"
                            alt="student"
                            class="student-image"
                          /> -->
                        </div>
                      </div>
                    </div>


                  </div>
                </ul>
              </div>
            </div>
            <div
              class="containerColor"
              [ngClass]="{
                show: isStudentListVisible,
                hide: !isStudentListVisible
              }"
            >
              <div class="row row3">
                <div class="color-legend" *ngFor="let color of colorLegend">
                  <div class="row">
                    <div class="f_c">
                      <div class="color-box" [ngClass]="color.colorClass"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="f_c">
                      <span
                        [ngClass]="getTextColorClass(color.colorClass)"
                        style="font-size: 15px; font-weight: bold"
                        >{{ color.label }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row content-wrapper justify-content-center align-items-center footer-line"
  >
    <div
      class="footer-container d-flex align-items-center justify-content-between"
    >
      <!-- <div class="icon-container" routerLink="/main">
        <div class="icon-bg2" >
          <img src="../../../../assets/images/undo.png" alt="Right Icon" class="footer-icon2" />
        </div>
      </div> -->

      <!-- Icon Slider Section -->
      <div class="icon-slider d-flex align-items-center">
        <div class="icon-wrapper d-flex align-items-center">
          <div class="icon-container">
            <div class="icon-bg2">
              <img
                src="../../../../assets/images/blue-right.png"
                alt="Right Icon"
                class="footer-icon"
              />
            </div>
          </div>

          <div class="icon-container">
            <div class="icon-bg">
              <img
                src="../../../../assets/images/pdf.svg"
                alt="PDF Icon"
                class="footer-icon"
              />
              <span class="icon-label">الدرس PDF</span>
            </div>
          </div>

          <div class="icon-container">
            <div class="icon-bg">
              <img
                src="../../../../assets/images/dash.png"
                alt="Dash Icon"
                class="footer-icon"
              />
              <span class="icon-label">الصور</span>
            </div>
          </div>

          <div class="icon-container">
            <div class="icon-bg">
              <img
                src="../../../../assets/images/buisness.png"
                alt="Business Icon"
                class="footer-icon"
              />
              <span class="icon-label">ورقة عمل</span>
            </div>
          </div>

          <div class="icon-container">
            <div class="icon-bg">
              <img
                src="../../../../assets/images/video.svg"
                alt="Video Icon"
                class="footer-icon"
              />
              <span class="icon-label">شرح فيديو الدرس</span>
            </div>
          </div>

          <div class="icon-container">
            <div class="icon-bg">
              <img
                src="../../../../assets/images/exam.png"
                alt="Exam Icon"
                class="footer-icon"
              />
              <span class="icon-label">اساله داخل الحصه</span>
            </div>
          </div>

          <!-- Add more icons as needed -->
          <div class="icon-container">
            <div class="icon-bg2">
              <img
                src="../../../../assets/images/blue-left.png"
                alt="Left Icon"
                class="footer-icon"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Button Section -->
      <div class="button-group d-flex align-items-center">
        <button class="btn custom-button4 mx-1">
          <i class="fa-solid fa-arrow-left"></i> ( o / o )
          <i class="fa-solid fa-arrow-right"></i>
        </button>

        <button class="btn custom-button3 mx-1" (click)="chooseRandomStudent()">إختر</button>

        <button class="btn custom-button2 mx-1" (click)="toggleStudentList()">
          <i
            class="fa-solid"
            [ngClass]="{
              'fa-arrow-up': !isStudentListVisible,
              'fa-arrow-down': isStudentListVisible
            }"
          ></i>
          الطلاب
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          إعدادات صفحة العرض
        </h1>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isH2Visible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5 style="font-family: 'Amiri', serif">
                بسم الله الرحمن الرحيم
              </h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isClockVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>الساعة</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isTimerVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>العد التنازلي</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isTeacherPhotoVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>صور المعلم</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isStudentPhotoVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>صورة الطالب</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isH3Visible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>عنوان الدرس</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isDateVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>التاريخ</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isProgressVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>الخط الزمني</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-12">
              <div class="container">
                <div
                  class="row"
                  style="justify-content: center; align-items: center"
                >
                  <div class="col-md-1">
                    <div class="switcher">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          checked
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-3"
                    style="
                      align-items: center;
                      justify-content: cneter;
                      height: auto;
                    "
                  >
                    <h5>شاشة 1</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row align-items-center sc-set">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input type="radio" id="option1" name="options1" value="option1" />
                    <label for="option1">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option2" name="options1" value="option2" />
                    <label for="option2">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input type="radio" id="option3" name="options1" value="option3" />
                    <label for="option3">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option4" name="options1" value="option4" />
                    <label for="option4">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox1" class="me-2">ثابتة</label>
                    <input type="checkbox" id="checkbox1" />
                  </div>
                </div>
                
                <div class="row align-items-center sc-set mt-3">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input type="radio" id="option5" name="options2" value="option5" />
                    <label for="option5">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option6" name="options2" value="option6" />
                    <label for="option6">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input type="radio" id="option7" name="options2" value="option7" />
                    <label for="option7">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option8" name="options2" value="option8" />
                    <label for="option8">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox2" class="me-2">متغيرة</label>
                    <input type="checkbox" id="checkbox2" />
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row sc-set">
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option4"
                      name="options"
                      value="option4"
                    />
                    <label for="option4">خيــار 3</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option5"
                      name="options"
                      value="option5"
                    />
                    <label for="option5">خيــار 2</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option6"
                      name="options"
                      value="option6"
                    />
                    <label for="option6">خيــار 1</label>
                  </div>
                  <div class="check-container col-3">
                    <label for="option8">متغيرة</label>
                    <input
                      type="checkbox"
                      id="option8"
                      name="options"
                      value="option8"
                    />
                  </div>
                </div>
                <div class="row sc-set">
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option4"
                      name="options"
                      value="option4"
                    />
                    <label for="option4">خيــار 4</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option5"
                      name="options"
                      value="option5"
                    />
                    <label for="option5">خيــار 5</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option6"
                      name="options"
                      value="option6"
                    />
                    <label for="option6">خيــار 6</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option7"
                      name="options"
                      value="option7"
                    />
                    <label for="option7">خيــار 7</label>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row tab-row2">
            <div class="col-md-12">
              <div class="container">
                <div
                  class="row"
                  style="justify-content: center; align-items: center"
                >
                  <div class="col-md-1">
                    <div class="switcher">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          checked
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-3"
                    style="
                      align-items: center;
                      justify-content: cneter;
                      height: auto;
                    "
                  >
                    <h5>شاشة 2</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row align-items-center sc-set">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input type="radio" id="option1" name="options1" value="option1" />
                    <label for="option1">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option2" name="options1" value="option2" />
                    <label for="option2">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input type="radio" id="option3" name="options1" value="option3" />
                    <label for="option3">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option4" name="options1" value="option4" />
                    <label for="option4">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox1" class="me-2">ثابتة</label>
                    <input type="checkbox" id="checkbox1" />
                  </div>
                </div>
                
                <div class="row align-items-center sc-set mt-3">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input type="radio" id="option5" name="options2" value="option5" />
                    <label for="option5">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option6" name="options2" value="option6" />
                    <label for="option6">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input type="radio" id="option7" name="options2" value="option7" />
                    <label for="option7">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input type="radio" id="option8" name="options2" value="option8" />
                    <label for="option8">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox2" class="me-2">متغيرة</label>
                    <input type="checkbox" id="checkbox2" />
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row sc-set">
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option4"
                      name="options"
                      value="option4"
                    />
                    <label for="option4">خيــار 3</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option5"
                      name="options"
                      value="option5"
                    />
                    <label for="option5">خيــار 2</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option6"
                      name="options"
                      value="option6"
                    />
                    <label for="option6">خيــار 1</label>
                  </div>
                  <div class="check-container col-3">
                    <label for="option8">متغيرة</label>
                    <input
                      type="checkbox"
                      id="option8"
                      name="options"
                      value="option8"
                    />
                  </div>
                </div>
                <div class="row sc-set">
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option4"
                      name="options"
                      value="option4"
                    />
                    <label for="option4">خيــار 4</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option5"
                      name="options"
                      value="option5"
                    />
                    <label for="option5">خيــار 5</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option6"
                      name="options"
                      value="option6"
                    />
                    <label for="option6">خيــار 6</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="radio"
                      id="option7"
                      name="options"
                      value="option7"
                    />
                    <label for="option7">خيــار 7</label>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            حفظ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
