/* Container */
.teacher-board-container {
  /* padding: 15px; */
  height: auto; /* Adjust the height so the page is not full-screen */
  /* flex-direction: column; */
  /* margin-top: 30px; */
  /* padding: 15px; */
}

/* Navbar Styling */
.user-navbar {
  background-color: #11407b;
  color: white;
  /* margin-top: 5px; */
  border-bottom: 10px solid #fd8f38;
  padding: 10px;
}
.c_img {
  width: 40%;
  height: auto;
}

/* Boxes */
.box {
  background-color: #f9efbc;
  color: black;
  /* padding: 10px; */
  text-align: center;
  border-radius: 10px;
  border: 6px solid #918b73;
}

.center-box {
  border: 6px solid #fd8f38;
}
.c_btn {
  background: none;
  border: none;
  padding: 5px;
}
.tools-panel {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 5%;
  padding: 10px 0 10px 0;
  border-right: 2px solid #000;
}
/* Tool Panel */
.tool-panel {
  align-items: center;
}

/* Writing Board */
.board {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board textarea {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none; /* Disable resizing */
}

/* Student List */
.student-list {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 15px;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.student-list ul {
  list-style-type: none;
}

.student-list ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.arabic-text {
  font-family: "Amiri", serif; /* Adjust to your selected font */
  font-size: 24px; /* Customize size */
  color: #000; /* Text color */
  text-align: center; /* Center text */
  margin: 5px 0; /* Margin for spacing */
}

.progress-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  /* margin: 30px 0;  */
}

.progress-step {
  text-align: center; /* Center the text below each icon */
  position: relative; /* For positioning the line */
}

.progress-icon {
  display: flex;
  justify-content: center; /* Center the icon */
  align-items: center; /* Center vertically */
}

.progress-line {
  height: 5px; /* Line height */
  background-color: #ccc; /* Default line color */
  flex-grow: 1; /* Allow lines to grow and fill space */
  margin: 0 0px; /* Margin between line and icon */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Fill the line based on the current step */
.activeLine {
  background-color: #feac03; /* Highlight color for filled lines */
}

.progress-step p {
  font-size: 18px; /* Label font size */
  color: #666; /* Label color */
}

/* Content Wrapper Styling */
.content-wrapper {
  background-color: #185ca3; /* Blue background */
  justify-content: space-evenly;
  height: auto;
}
.form-control {
  border-radius: 15px; /* Rounded corners */
  padding: 5px; /* Padding inside the input */
  width: 100%; /* Full width */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: #d0d0d0;
}
.search-icon {
  background-color: #001a72; /* Button background color */
  border-radius: 5px; /* Rounded corners for button effect */
  padding: 4px; /* Padding inside the button */
  cursor: pointer; /* Pointer cursor on hover */
}

.slider-icon {
  cursor: pointer; /* Change cursor to pointer on hover */
}
.btn_r {
  width: auto;
  padding: 0px;
  justify-content: right;
}
.btn_l {
  width: auto;
  padding: 0px;
  justify-content: left;
}
.btns {
  width: 30%;
}
.c_btnl {
  margin-right: 5px;
  width: auto;
  padding: 0px;
  float: right;
}
.c_btnr {
  margin-right: 5px;
  width: auto;
  padding: 0px;
  float: left;
}

.c_space {
  width: auto;
}

.custom-button {
  background-color: #fff;
  color: #001a72;
  font-size: 15px;
}

.custom-button.active {
  background-color: #001a72; /* Active background */
  color: white; /* Active text color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.footer-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-slider {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Space between icons */
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between buttons */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Start from bottom */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* Move to original position */
    opacity: 1; /* Fully visible */
  }
}
.list-group-item {
  animation: slideUp 1s ease-in-out; /* Apply the animation */
  animation-fill-mode: both; /* Ensure the element stays in its final state */
}

.custom-button2 {
  background-color: #001a72;
  color: #fff;
  border-radius: 15px;
  width: 160px;
  padding: 5px 20px 5px 10px;
}

.custom-button3 {
  background-color: #001a72;
  color: #fff;
  border-radius: 50%;
  width: 50px;
}

.custom-button4 {
  background-color: #d9d9d9;
  color: #001a72;
  border-radius: 15px;
  width: 120px;
}

.footer-container {
  width: 100%;
  max-width: 1000px; /* Optional: set a maximum width */
  background-color: #f5f5f5; /* Same style as main content and tools part */
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-radius: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Ensure space between icons and button */
  align-items: center; /* Center items vertically */
}

.icon-slider {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Keeps icons in a single line */
  flex-grow: 1; /* Allows the icon slider to grow and take available space */
}

.icon-wrapper {
  display: inline-flex; /* Display icons inline */
}

.footer-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin: 10px 10px; /* Add spacing between icons */
  cursor: pointer; /* Change cursor to indicate clickable icons */
}

.footer-icon2 {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin: 15px; /* Add spacing between icons */
  cursor: pointer; /* Change cursor to indicate clickable icons */
  background-color: #001a72;
  border-radius: 10px;
}

.icon-slider {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Keeps icons in a single line */
  flex-grow: 1; /* Allows the icon slider to grow and take available space */
}

.icon-wrapper {
  display: inline-flex; /* Display icons inline */
}

.icon-container {
  text-align: center; /* Center text */
  margin: 0 10px; /* Add margin between icons */
}

.icon-bg {
  /* Change to your desired background color */
  border-radius: 10px; /* Add rounded corners */
  padding: 7px; /* Padding around the icon and label */
  display: flex; /* Use flexbox to center contents */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 70px; /* Adjust width as needed */
  height: 90px; /* Adjust height to fit image and label */
  background-color: #d9d9d9;
}

.footer-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.icon-label {
  display: block; /* Make label a block element */
  margin-top: 2px; /* Space between icon and label */
  font-size: 10px; /* Adjust font size as needed */
  /* Change text color as needed */
}

.icon-bg2 {
  /* Change to your desired background color */
  border-radius: 10px; /* Add rounded corners */
  padding: 7px; /* Padding around the icon and label */
  display: flex; /* Use flexbox to center contents */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 50px; /* Adjust width as needed */
  height: 90px; /* Adjust height to fit image and label */
}

/* .drawing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

canvas {
  border: 2px solid #000;
  cursor: crosshair;
} */

.board-container {
  margin-left: 4px;
  height: 600px;
  margin-top: 55px;
  position: relative;
}

.toolbar {
  margin-bottom: 10px;
}

canvas {
  cursor: crosshair; /* Change cursor when hovering over the canvas */
}

.modal-content {
  background-color: #f9efbc;
  color: #9e9777;
  border-radius: 20px;
  border: none;
}
.modal-title {
  color: #9e9777;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.modal-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
}
.modal-footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  margin-top: 10px;
}
.modal-footer .btn {
  padding: 5px 40px 5px 40px;
  background-color: #001a72;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tab-row {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #d9d9d9;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tab-row2 {
  margin-top: 10px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #d9d9d9;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.modal-body .switcher {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
}
.form-check-input {
  width: 60px;
  height: 30px;
}

.radio-container,
.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

radio-container label {
  margin-left: 8px;
}

.check-container label {
  margin-right: 8px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
/* .radio-container {
  font-size: 12px;
  color :#001A72;
  align-items: center;
  float: right;
} */
/* .radio-container input{
  margin-right: 2px;
} */
.sc-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .check-container {
  font-size: large;
  font-weight: bold;
  color :#000;
  align-items: center;
  float: right;
} */
.switcher {
  align-items: center;
}

/* Parent row container */
.row2 {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
  /* padding: 5px; */
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
}

/* Student List Container */

.student-list {
  width: 100%;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px;
  border: none;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.open-background {
  background-color: #d3d3d3; /* Background when the list is open */
}

.closed-background {
  background-color: #ffffff; /* Background when the list is closed */
}

.student-list-container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 5px;
  min-height: 200px;
}

.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.status-icons {
  display: flex;
  width: auto;
}
/* Styling for status icons with letters */
.status-icons span {
  width: 100%;
  height: 15px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  /* font-weight: bold; */
}

/* Color classes for status icons */
.status-icons .late {
  background-color: red;
}

.status-icons .present {
  background-color: #25d408;
}

.status-icons .excused {
  background-color: #d89e09;
}

.status-icons .absent {
  background-color: #147cdc;
}

.status-icons .sleep {
  background-color: #ec2dfd;
}

/* Student info and image */
.student-info {
  display: flex;
  align-items: center;
}

.student-name-container {
  padding: 5px 10px;
  background-color: #eaeaea;
  border-radius: 10px;
  margin-right: 10px;
}

.student-name {
  font-weight: bold;
  font-size: 15px;
}

.student-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Scrollbar styling */
.student-list-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #eaeaea;
}

.student-list-container::-webkit-scrollbar {
  width: 8px;
}

.student-list-container::-webkit-scrollbar-track {
  background: #eaeaea;
}

.student-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.color-meanings {
  margin-top: 20px; /* Space above the color meanings section */
  padding: 10px; /* Optional padding */
  border: 1px solid #ccc; /* Optional border */
  border-radius: 5px; /* Optional rounded corners */
  background-color: #f9f9f9; /* Optional background color */
}

.color-legend {
  margin-left: 0;
  justify-content: space-between;
  padding: 5px;
  max-width: 60%;
  min-width: 10%;
  width: auto;
  display: flex;
}
.f_c {
  width: auto;
  justify-content: space-between;
}
.color-item {
  display: flex;
  align-items: center; /* Center the items vertically */
}

.color-box {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%; /* Rounded corners */
}

.late-color {
  background-color: red; /* Set the color for 'late' */
}

.lateSpan {
  color: red;
}

.present-color {
  background-color: #25d408;
}

.presentSpan {
  color: #25d408;
}
.excused-color {
  background-color: #d89e09; /* Set the color for 'excused' */
}

.excusedSpan {
  color: #d89e09;
}

.absent-color {
  background-color: #147cdc; /* Set the color for 'absent' */
}
.absentSpan {
  color: #147cdc;
}

.sleep-color {
  background-color: #ec2dfd;
}

.sleepSpan {
  color: #ec2dfd;
}

/* student-list.component.css */
.student-list-container,
.containerColor {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1.5s ease;
}

.student-list-container.show,
.containerColor.show {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
  display: flex;
  justify-content: center;
}

.student-list-container.hide,
.containerColor.hide {
  max-height: 0;
  opacity: 0;
}
.toolsbar {
  background-color: #185ca3;
  padding: 10px;
  align-items: center;
}
.toolbarin {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  /* padding: 5px; */
  height: 36px;
}
.col_c1 {
  width: 63%;
  align-items: center;
}
.col_c2 {
  width: 33%;
  align-items: center;
}

/* Base container */
.box {
  background-color: #f9efbc;
  border: 4px solid #f66a0a;
  border-radius: 30px;
  padding: 13px;
  font-family: "AGA Mashq Bold", Arial, sans-serif;
}

/* Header Section */
.slider-icon img {
  width: 40px;
  height: auto;
}

/* Timer Section */
.timer-section {
  margin-bottom: 15px;
}
.timer-section .clock-icon {
  width: 30px;
  margin-top: -4px;
}
.timer-section .time-remaining {
  background-color: #dec494;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 1.2rem;
  color: #480b1a;
  border: none;
  max-width: 75px;
}

.time-remaining:focus {
  outline: none;
  box-shadow: none;
}
