
<!-- Main Container -->
<div class="container-fluid full-screen" [ngClass]="showNav?'':'y-hidden'">
  <app-navbar></app-navbar>
  <div class="row justify-content-between user-navbar">
    <div class="d-flex pt-5 flex-wrap flex-row-reverse align-items-center box">
      <!-- Grade box -->
      <div class="container-fluid col-3 justify-content-center align-items-center">
        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1">
              <i
                class="fa-solid fa-bag-shopping"
                style="
                  padding: 5px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                  font-size: xx-small;
                "
              ></i>
            </div>
            <h3 class="col-md-11 padding-center">الصف</h3>
          </div>
        </div>

        <div class="row payment-methods">
          <div class="col-md-1 custom-box-2">
            <div class="container" (click)="prevItemsGrades()">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>
          <!-- (click)="getSubjectByGradeId(grad.id); toggleStyleGeneric($event, grad.id, 'grade')" -->
          <!-- Dynamic Subject Cards -->
          <div
            class="col-md-2 custom-box grade-box"
            *ngFor="let grade of visibleGrades"
            (click)="
              toggleStyleGeneric($event, grade.id, 'grade');
              getSubjectByGradeId(grade.id);
              onGradeClick(grade)
            "
          >
            <div class="container">
              <div class="row">
                <h6>{{ grade.gradeName }}</h6>
              </div>
            </div>
          </div>

          <div class="col-md-1 custom-box-2">
            <div class="container" (click)="nextItemsGrade()">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Subject box -->
        <div class="container-fluid col-3 justify-content-center align-items-center">
        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1">
              <i
                class="fa-solid fa-bag-shopping"
                style="
                  padding: 5px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                  font-size: xx-small;
                "
              ></i>
            </div>
            <h3 class="col-md-11 padding-center">الماده</h3>
          </div>
        </div>

        <div class="row payment-methods">
          <div class="col-md-1 custom-box-2">
            <div class="container" (click)="prevItems()">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>

          <!-- Dynamic Subject Cards -->
          <div
            class="col-md-2 custom-box subject-box"
            *ngFor="let subject of visibleSubjects"
            (click)="
              toggleStyleGeneric($event, subject.subjectId, 'subject');
              onSubjectClick(subject.subjectId)
            "
          >
            <div class="container">
              <div class="row">
                <h6>{{ subject.subjectName }}</h6>
              </div>
            </div>
          </div>

          <div class="col-md-1 custom-box-2">
            <div class="container" (click)="nextItems()">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Class Box -->
        <div class="container-fluid col-3 justify-content-center align-items-center">
        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1" routerLink="/class">
              <i
                class="fa-solid fa-plus"
                style="
                  padding: 5px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                  font-size: xx-small;
                "
              ></i>
            </div>
            <h3 class="col-md-11 padding-center">الفصل</h3>
          </div>
        </div>

        <div class="row payment-methods">
          <div class="col-md-1 custom-box-2" (click)="preItemClasses()">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>

          <div
            class="col-md-2 custom-box-2"
            *ngFor="let class of visibleClasses"
            (click)="
              onClassClick(class.id, class.classsName); activeClassId = class.id
            "
          >
            <div class="container">
              <div class="row">
                <h6
                  [ngClass]="{
                    'custom-box-text': activeClassId !== class.id,
                    'custom-box-text-active': activeClassId === class.id
                  }"
                >
                  {{ class.classsName }}
                </h6>
                <!-- Display className here -->
              </div>
            </div>
          </div>
          <div class="col-md-1 custom-box-2" (click)="nextItemsClasses()">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
          </div>
          </div>



          <!-- Lesson Box -->
          <div class="container-fluid col-3 justify-content-center align-items-center">
          

        <div
          class="row header"
          style="justify-content: center; align-items: center"
        >
          <div style="display: flex; justify-content: space-between">
            <div class="col-md-1">
              <div>
                <button
                  class="own-btn2"
                  width="100%"
                  (click)="checkLessonId()"
                >
                  تعديل
                </button>
              </div>
            </div>
            <h3 class="col-md-10" >الدرس</h3>

            <div class="col-md-1" (click)="openAddLesson()">
              <i
                class="fa-solid fa-plus"
                style="
                  padding: 5px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                  font-size: xx-small;
                  cursor: pointer;
                "
              ></i>
            </div>
          </div>
        </div>

        <div class="row payment-methods2">
          <div class="col-md-1 custom-box-2" (click)="prevItemLessons()">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>

          <div
            class="col-md-2 custom-box lesson-box"
            *ngFor="let test of visibleLessons"
            [ngStyle]="{
              backgroundColor: activeLessonId === test.lessonId ? '#001A72' : '#ffff',
              color: activeLessonId === test.lessonId ? '#ffff' : '#001A72'
            }"
            (click)="
              onLessonClick(test.lessonId);
              saveLessonName(test.lessonName);
              activeLessonId = test.lessonId
            "
          >
            <div class="container">
              <div class="row">
                <h6
                  class="lesson-name"
                  [title]="test.lessonName"
                >
                  {{ test.lessonName }}
                </h6>
              </div>
            </div>
          </div>


          <div class="col-md-1 custom-box-2" (click)="nextItemsLesson()">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="div-button">
          <button class="display-btn" (click)="submitSelection()">عرض</button>
        </div>
      </div>
    <!-- Left Box -->
    <!-- <div class="col-2 box left-box justify-content-center align-items-center">
    <div class="box col-7 center-box">
      <div class="d-flex justify-content-between align-items-center">

        <div class="timer-section text-center m-0 mx-1" *ngIf="isTimerVisible">
          <img
            src="../../../../assets/images/clock.png"
            alt="Clock Icon"
            class="clock-icon"
          />
          <input
          type="number"
          class="time-remaining"
            *ngIf="!isLectureStarted"
            [(ngModel)]="remainingMinutes"
            (blur)="onBlur()"
            placeholder="Enter minutes"
          />
          <input
            type="text"
            disabled
            class="time-remaining"
            *ngIf="remainingTime!=null && isLectureStarted"
            [(ngModel)]="remainingTime"
            (blur)="onBlur()"
            placeholder="Enter minutes"
          />
      </div>
    </div>
  -->
      </div>
  <div [ngClass]="{ 'workspace-show': showNav, 'workspace': !showNav, 'locked': isLocked }">
    
    <div class="row toolsbar justify-content-between">
      <button (click)="toggleNavbar()" class="arrow">
        <i class="fa-solid fa-angles-up" *ngIf="showNav"></i>
        <i class="fa-solid fa-angles-down" *ngIf="!showNav"></i>
      </button>

      <div class="col-12">
        <div class="container-fluid toolbarin box p-1">
          <div class="d-flex justify-content-between align-items-center">
            <!-- Start Button -->
            <div class="start-btn text-end my-2 col-1">
              <button
                class="btn btn-primary"
                [ngStyle]="{
                  'background-color': '#F9EFBC',
                  color: 'black',
                  'font-weight': 'bold',
                  border: '1px solid #fa6707',
                  'border-radius': '0',
                  'font-size': '10px'
                }"
                (click)="isLectureStarted ? onEndLecture() : onStartLecture()"
              >
                {{ isLectureStarted ? "انهاء الحصة" : "ابدأ الحصة" }}
              </button>
            </div>

            <!-- Progress Treasures -->
            <div class="progress-container col-5" *ngIf="isProgressVisible">
              <div class="d-flex align-items-center" *ngFor="let box of boxes; let i = index">
                <div class="progress-step">
                  <div class="progress-icon" id="step2">
                    <img
                      src="../../../../assets/images/closeBox.png"
                      width="50px"
                      height="35px"
                    />
                    <div class="count-btn">
                      {{ box.title }}
                      {{ box.time }}د
                    </div>
                  </div>
                </div>
                <div class="progress-line" *ngIf="i<boxes.length-1"></div>
              </div>
              </div>
              <!-- <div class="progress-step">
                <div class="progress-icon" id="step3">
                  <img
                    src="../../../../assets/images/closeBox.png"
                    width="50px"
                    height="35px"
                  />
                  <div class="count-btn">
                    اوراق العمل
                    30د
                  </div>
                </div>
              </div>
              <div class="progress-line"></div>
              <div class="progress-step">
                <div class="progress-icon" id="step3">
                  <img
                    src="../../../../assets/images/closeBox.png"
                    width="50px"
                    height="35px"
                  />
                  <div class="open-btn">
                    افتح
                  </div>
                </div>
              </div>
              <div class="progress-line activeLine"></div>
              <div class="progress-step">
                <div class="progress-icon" id="step1">
                  <img
                    src="../../../../assets/images/openBox.png"
                    width="50px"
                    height="35px"
                  />
                </div>
              </div>
            </div>
          -->
            <!-- Date and Time -->
            <div class="time col-1" *ngIf="isClockVisible">
              <span class="current-time">7:25</span>
              <span class="am-pm">ص</span>
            </div>
    
            <div class="time col-1" *ngIf="isDateVisible">
              <span class="current-date mx-1">11/9/2024</span>
            </div>

            <!-- Gear icon -->
            <div class="col-1 justify-content-center align-items-center">
                <div
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  <img
                    src="../../../../assets/images/settingsBlue.png "
                    style="cursor: pointer;"
                    width="25px"
                  />
                  <!-- <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i> -->
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Content Area -->
    <div class="row content-wrapper">
    <!-- Writing Board 1 -->
    <!-- <div class="col_c1 element" [style.flexBasis]="leftWidth + 'px'" [ngClass]="!OnlyBoard2&&OnlyBoard1?'board-fullscreen':''" [ngClass]="OnlyBoard2&&!OnlyBoard1?'board-hide':''"> -->
    <div class="col_c1" [ngClass]="!OnlyBoard2&&OnlyBoard1?'board-fullscreen':''" [ngClass]="OnlyBoard2&&!OnlyBoard1?'board-hide':''">
      <div class="container">
        <div class="btn_r justify-content-end row">
          <div
            class="c_btnl justify-content-center"
            *ngFor="let board of boards"
          >
            <button
              class="btn custom-button"
              [ngClass]="{ active: activeBoard === board.id }"
              (click)="switchBoard(board.id)"
            >
              {{ board.id }}
            </button>
          </div>
          <!--
          <div class="c_btnl justify-content-center">
            <button
            class="btn custom-button"
            [ngClass]="{ active: activeBoard === 1 }"
              (click)="switchBoard(1)"
            >
              1
            </button>
          </div>
          -->
          <div class="c_btnl justify-content-center">
            <button class="btn custom-button" (click)="addNewBoard()">
              +
            </button>
          </div>
          <div class="c_btnl" routerLink="/main">
            <div class="icon-bg3" style="margin-top: -6px">
              <img
                src="../../../../assets/images/undoB.png"
                alt="Right Icon"
                width="25px"
              />
            </div>
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center"
          style="padding: 0 px; background-color: #fff; border-radius: 0px 0px 10px 10px;height: 65vh;"
        >
          <!-- Left Tool Panel -->
          <div class="tools-panel justify-content-center align-items-center">
            <div
              class="container-fluid align-items-center justify-content-center"
            >
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="togglenotdraw()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/pen (5).png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    [disabled]="toolsDisabled"
                    (click)="togglePen()"
                    style="width: 100%; display: flex; justify-content: center"
                    src="https://i.ibb.co/9q6ZxqX/pencil.png"
                    alt="Pen"
                    title="Pen"
                  >
                    <img
                      src="../../../../assets/images/text.png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    [disabled]="toolsDisabled"
                    (click)="fileInput.click()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                  <img
                      src="../../../../assets/images/img.png"
                      alt="Pencil Icon"
                      style="width: 20px"
                    />
                    <input
                      type="file"
                      #fileInput
                      accept="image/*"
                      (change)="onImageSelected($event)"
                      hidden
                    />
                    <!-- <input type="file" #fileInput accept="image/*" (change)="addImage($event)"  /> -->
                  </button>
                </div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    [disabled]="toolsDisabled"
                    (click)="togglePen()"
                    style="width: 100%; display: flex; justify-content: center"
                    src="https://i.ibb.co/9q6ZxqX/pencil.png"
                    alt="Pen"
                    title="Pen"
                  >
                    <img
                      src="../../../../assets/images/pen (1).png"
                      style="width: 20px"
                      alt="Pencil Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    [disabled]="toolsDisabled"
                    (click)="redo()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/rotate-right.png"
                      style="width: 15px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="undo()"
                    [disabled]="toolsDisabled"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/rotate-left.png"
                      style="width: 15px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="toggleEraser()"
                    [disabled]="toolsDisabled"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <img
                      src="../../../../assets/images/remove.png"
                      style="width: 20px"
                      alt="remove Icon"
                    />
                  </button>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="clear()"
                    style="width: 100%; display: flex; justify-content: center"
                  >
                    <span>Clear</span>
                  </button>
                </div>
              </div>
              
              <div class="row justify-content-center align-items-center">
                <div class="col-12justify-content-center align-items-center">
                  <input
                  class="c_btn"
                  type="color"
                  [(ngModel)]="color"
                  title="Color"
                  style="width: 100%; display: flex; justify-content: center"
                  />
                </div>
              </div>
              <div class="row justify-content-center align-items-center" *ngIf="videoElement">
                <div class="col-12 justify-content-center align-items-center">
                  <button
                    class="c_btn"
                    (click)="removeBoard(activeBoard)"
                    style="width: 100%; display: flex; justify-content: center;color:red;"
                  >
                    <span>X</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="" style="width: 95%;position: relative;">
            <div class="image-resources d-flex justify-content-center" *ngIf="isImagesLoaded">
              <img class="image-resource" [src]="images[currentIndex]" alt="image">
            </div>
            <div class="image-resources d-flex justify-content-center" *ngIf="isVideoPlaying">
              <video class="image-resource" [src]="videos[currentVideoIndex]" alt="image" controls>
              </video>
            </div>
            <div class="container">
              <canvas
                #canvas
                id="canvas"
                (mousedown)="mouseDown($event)"
                (mouseup)="mouseUp()"
                (mousemove)="mouseMove($event)"
                (touchstart)="touchStart($event)"
                (touchmove)="touchMove($event)"
                (touchend)="touchEnd()"
                [style.cursor]="cursorStyle"
                style="
                  background-color: #fff;
                  width: 100%;
                  height: 65vh;
                  padding: 0px;
                "
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="divider" (mousedown)="startDrag($event)"></div> -->
    
    <!-- Student List -->
    <!-- <div class="col_c2 st_data element" [style.flexBasis]="rightWidth + 'px'" style="padding: 0px" [ngClass]="OnlyBoard2&&!OnlyBoard1?'board-80screen':''" [ngClass]="!OnlyBoard2&&OnlyBoard1?'board-hide':''"> -->
    <div class="col_c2 st_data" style="padding: 0px" [ngClass]="OnlyBoard2&&!OnlyBoard1?'board-80screen':''" [ngClass]="!OnlyBoard2&&OnlyBoard1?'board-hide':''">
      <div class="container-fluid" style="padding: 0px">
        <div class="row row2">
          <div class="col-12">
            <div class="row">
              <!-- <div class="student-list">

                <ul class="list-group ">
                  <div class="student-list-container col-12" [ngClass]="{ 'show': isStudentListVisible, 'hide': !isStudentListVisible }">
                    <div class="row" >
                      <div class="student-item"
                      *ngFor="let student of displayedStudents; let i = index"
                      [ngClass]="{ 'from-top': i % 2 === 0, 'from-bottom': i % 2 !== 0 }"
                      [ngStyle]="{ 'animation-delay': (i * 0.3) + 's' }">
                      <div class="status-icons">
                          <span *ngFor="let status of student.statusIcons" [ngClass]="status.class">
                            {{ status.label }}
                          </span>
                        </div>
                        <div class="student-info">
                          <span class="student-name">{{student.name}}</span>
                          <img [src]="student.image" alt="student" class="student-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>

              </div> -->

              <div
                class="student-list"
                [ngClass]="{
                  'open-background': isStudentListVisible,
                  'closed-background': !isStudentListVisible
                }"
              >
                <ul class="list-group">
                  <div
                    class="student-list-container col-12"
                    [ngClass]="{
                      show: isStudentListVisible,
                      hide: !isStudentListVisible
                    }"
                  >
                    <div
                      class="row"
                      *ngFor="let students of studentData; let i = index"
                      >
                      <div
                      class="student-item"
                        *ngFor="let student of displayedStudents; let i = index"
                        [ngClass]="{
                          'from-top': i % 2 === 0,
                          'from-bottom': i % 2 !== 0
                        }"
                        [ngStyle]="{ 'animation-delay': i * 0.3 + 's' }"
                      >
                        <div class="status-icons">
                          
                          <span 
                          *ngFor="let status of student.statusIcons"
                          (click)="logStatusValue(status.value,students.studentId)"
                          [ngClass]="status.class">
                          <span >
                            {{ status.label }}
                          </span>
                        </span>
                        </div>
                        <div
                        class="student-info"
                        data-bs-toggle="modal"
                        data-bs-target="#studentRandom"
                        (click)="saveStudentId(students.studentId);"
                        >
                        <span class="student-name"
                        >{{ students.studentName }}
                        <span class="selected-std-status" *ngIf="pointsCategory!='b'" [ngClass]="getClassForStatus(students.studentId)">
                          {{ getLabelForStatus(students.studentId) }}
                        </span>
                        <!-- {{ students.lastName }} -->
                        </span
                        >
                        <!-- <img
                            [src]="student.image"
                            alt="student"
                            class="student-image"
                          /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <div
              class="containerColor"
              [ngClass]="{
                show: isStudentListVisible,
                hide: !isStudentListVisible
              }"
            >
              <div class="row row3">
                <div class="color-legend" *ngFor="let color of colorLegend">
                  <div class="row">
                    <div class="f_c">
                      <div class="color-box" [ngClass]="color.colorClass"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="f_c">
                      <span
                      [ngClass]="getTextColorClass(color.colorClass)"
                      style="font-size: 15px; font-weight: bold"
                        >{{ color.label }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  



  <div
  class="row content-wrapper justify-content-center align-items-center footer-line"
  >
    <div
      class="footer-container d-flex col-md-12 align-items-center justify-content-between"
    >
      <!-- <div class="icon-container" routerLink="/main">
        <div class="icon-bg2" >
          <img src="../../../../assets/images/undo.png" alt="Right Icon" class="footer-icon2" />
        </div>
      </div> -->

      <!-- Icon Slider Section -->
      <!-- 
        <div class="custom-icon-slider-container">
        -->
        <div class="icon-slider col-md-6 d-flex align-items-center">
          <button class="custom-slider-btn custom-left-btn" (click)="scrollIcons('left')">
            <img src="../../../../assets/images/blue-right.png" alt="Left Icon" />
          </button>
          
          <div class="custom-icon-slider">
            <div class="custom-icon-wrapper">
              <div class="custom-icon-container">
                <div class="custom-icon-bg">
                  <img src="../../../../assets/images/pdf.svg" alt="PDF Icon" class="custom-footer-icon" />
                  <span class="custom-icon-label">الدرس PDF</span>
                </div>
              </div>
        
              <div class="custom-icon-container" (click)="imagesToggle()">
                <div class="custom-icon-bg">
                  <img src="../../../../assets/images/dash.png" alt="Dash Icon" class="custom-footer-icon" />
                  <span class="custom-icon-label">الصور</span>
                </div>
              </div>
              
              <div class="custom-icon-container">
                <div class="custom-icon-bg">
                  <img src="../../../../assets/images/buisness.png" alt="Business Icon" class="custom-footer-icon" />
                  <span class="custom-icon-label">ورقة عمل</span>
                </div>
              </div>
        
              <div class="custom-icon-container" (click)="videosToggle()">
                <div class="custom-icon-bg">
                  <img src="../../../../assets/images/video.svg" alt="Video Icon" class="custom-footer-icon" />
                  <span class="custom-icon-label">شرح فيديو الدرس</span>
                </div>
              </div>
        
              <div class="custom-icon-container">
                <div class="custom-icon-bg">
                  <img src="../../../../assets/images/exam.png" alt="Exam Icon" class="custom-footer-icon" />
                  <span class="custom-icon-label">اسئله داخل الحصه</span>
                </div>
              </div>
            </div>
          </div>
          
          <button class="custom-slider-btn custom-right-btn" (click)="scrollIcons('right')">
            <img src="../../../../assets/images/blue-left.png" alt="Right Icon" />
          </button>
          
          <button class="btn custom-button4 mx-1" *ngIf="isImagesLoaded">
            <i class="fa-solid fa-arrow-left" (click)="previousImage()"></i> ( {{ this.currentIndex+1 }} / {{ this.images.length}} )
          <i class="fa-solid fa-arrow-right" (click)="nextImage()"></i>
        </button>
        <button class="btn custom-button4 mx-1" *ngIf="isVideoPlaying">
          <i class="fa-solid fa-arrow-left" (click)="previousVideo()"></i> ( {{ this.currentVideoIndex+1 }} / {{ this.videos.length}} )
          <i class="fa-solid fa-arrow-right" (click)="nextVideo()"></i>
        </button>
      </div>
      
      <div class="d-flex col-md-1 justify-content-center align-items-center">
        <button 
        class="btn choose-btn"
        (click)="chooseRandomStudent()"
        data-bs-toggle="modal"
          data-bs-target="#studentRandom">
          إختر
        </button>
      </div>
      
      <!-- Button Section -->
      <div class="button-group d-flex flex-column col-md-3 justify-content-center align-items-center">
        <div class="my-2">
          <div class="c_btnr justify-content-center">
            <button
            class="btn custom-button"
            [ngClass]="{ active: isInteractionActive }"
            (click)="showBehavior('s2'); toggleButton('interaction')"
            >
            سلوكيات
          </button>
        </div>
        <div class="c_btnr justify-content-center">
          <button
          class="btn custom-button"
              [ngClass]="{ active: isBehaviorActive }"
              (click)="showBehavior('s3'); toggleButton('behavior')"
            >
            التفاعل
          </button>
          </div>
          <div class="c_btnr justify-content-center">
            <button
              class="btn custom-button"
              [ngClass]="{ active: isPreparationActive }"
              (click)="showBehavior('s1'); toggleButton('preparation')"
            >
              التحضير
            </button>
          </div>
        </div>
        <div class="button-container">
          <button class="btn custom-button2" (click)="toggleStudentList()">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-arrow-up': !isStudentListVisible,
                'fa-arrow-down': isStudentListVisible
              }"
            ></i>
            الطلاب
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
  </div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          إعدادات صفحة العرض
        </h1>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isH2Visible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5 style="font-family: 'Amiri', serif">
                بسم الله الرحمن الرحيم
              </h5>
            </div>
          </div> -->
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isClockVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>الساعة</h5>
            </div>
          </div>
          <!-- <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isTimerVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>العد التنازلي</h5>
            </div>
          </div> -->
          <!-- <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isTeacherPhotoVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>صور المعلم</h5>
            </div>
          </div> -->
          <!-- <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isStudentPhotoVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>صورة الطالب</h5>
            </div>
          </div> -->
          <!-- <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isH3Visible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>عنوان الدرس</h5>
            </div>
          </div> -->
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isDateVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>التاريخ</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-4">
              <div class="switcher">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="isProgressVisible"
                    checked
                  />
                </div>
              </div>
            </div>
            <div
              class="col-md-8"
              style="
                align-items: center;
                justify-content: cneter;
                border-left: 2px solid #d9d9d9;
              "
            >
              <h5>الخط الزمني</h5>
            </div>
          </div>
          <div class="row tab-row">
            <div class="col-md-12">
              <div class="container">
                <div
                  class="row"
                  style="justify-content: center; align-items: center"
                >
                  <div class="col-md-1">
                    <div class="switcher">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          [(ngModel)]="OnlyBoard1"
                          (click)="toggleOnlyBoard1()"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-3"
                    style="
                      align-items: center;
                      justify-content: cneter;
                      height: auto;
                    "
                  >
                    <h5>شاشة 1</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row align-items-center sc-set">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option1"
                      name="options1"
                      value="option1"
                    />
                    <label for="option1">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option2"
                      name="options1"
                      value="option2"
                    />
                    <label for="option2">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input
                      type="checkbox"
                      id="option3"
                      name="options1"
                      value="option3"
                    />
                    <label for="option3">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option4"
                      name="options1"
                      value="option4"
                    />
                    <label for="option4">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox1" class="me-2">ثابتة</label>
                    <input type="radio" name="mode" id="checkbox1" checked/>
                  </div>
                </div>

                <div class="row align-items-center sc-set mt-3">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option5"
                      name="options2"
                      value="option5"
                    />
                    <label for="option5">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option6"
                      name="options2"
                      value="option6"
                    />
                    <label for="option6">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input
                      type="checkbox"
                      id="option7"
                      name="options2"
                      value="option7"
                    />
                    <label for="option7">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option8"
                      name="options2"
                      value="option8"
                    />
                    <label for="option8">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="checkbox2" class="me-2">متغيرة</label>
                    <input type="radio" name="mode" id="checkbox2" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row tab-row2">
            <div class="col-md-12">
              <div class="container">
                <div
                  class="row"
                  style="justify-content: center; align-items: center"
                >
                  <div class="col-md-1">
                    <div class="switcher">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          [(ngModel)]="OnlyBoard2"
                          (click)="toggleOnlyBoard2()"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-3"
                    style="
                      align-items: center;
                      justify-content: cneter;
                      height: auto;
                    "
                  >
                    <h5>شاشة 2</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="container-fluid">
                <div class="row align-items-center sc-set">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option11"
                      name="options11"
                      value="option11"
                    />
                    <label for="option11">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option22"
                      name="options11"
                      value="option22"
                    />
                    <label for="option22">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input
                      type="checkbox"
                      id="option33"
                      name="options11"
                      value="option33"
                    />
                    <label for="option33">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option44"
                      name="options11"
                      value="option44"
                    />
                    <label for="option44">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="var1" class="me-2">ثابتة</label>
                    <input type="radio" name="mode2" id="var1" checked/>
                  </div>
                </div>

                <div class="row align-items-center sc-set mt-3">
                  <!-- Radio Button Group -->
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option55"
                      name="options22"
                      value="option55"
                    />
                    <label for="option55">بوربــوينت</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option66"
                      name="options22"
                      value="option66"
                    />
                    <label for="option66">فيــديو</label>
                  </div>
                  <div class="radio-container col-3">
                    <input
                      type="checkbox"
                      id="option77"
                      name="options22"
                      value="option77"
                    />
                    <label for="option77">اوراق عمل</label>
                  </div>
                  <div class="radio-container col-2">
                    <input
                      type="checkbox"
                      id="option88"
                      name="options22"
                      value="option88"
                    />
                    <label for="option88">الصور</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="check-container col-3 d-flex align-items-center">
                    <label for="var2" class="me-2">متغيرة</label>
                    <input type="radio" name="mode2" id="var2" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            حفظ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-width: 60%">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">صور الدرس</h1>
      </div>
      <div class="modal-body p-0">
        <app-images-viewer [images]="images" />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            حفظ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- student random modal -->
  <div
  class="modal fade"
  id="studentRandom"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" style="max-width: 60%;">
    <div class="modal-content" style="background-color: transparent;">
      <div class="modal-header">
        <div class="modal-title fs-5" id="statitcBackdropLabel">سؤال للطالب</div>
      </div>
      <div class="modal-body p-0 d-flex flex-column justify-content-center align-items-center">
        <div class="col-2 box right-box justify-content-center align-items-center">
          <div
            class="container-fluid justify-content-center align-items-center"
            *ngIf="isStudentPhotoVisible"
          >
            <div class="row justify-content-between">
              <div class="col-12 justify-content-between" style="margin-top: 9%">
                <img
                  src="../../../../assets/images/student.png"
                  class="c_img"
                  *ngIf="selectedStudent"
                  style="
                    border: 9px solid white;
                    margin-bottom: 9px;
                    border-radius: 14px;
                    width: 100%;
                  "
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div *ngIf="selectedStudent">
                  <p>
                    الطالب: {{ selectedStudent.firstName ||selectedStudent.studentName }}
                    {{ selectedStudent.lastName }}
                  </p>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="question m-4">
          هل الكرة الارضية مسطحة او مستطيلة؟
        </div>
        <div class="answer d-flex">
          <div class="false m-2" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i></div>
          <div class="true m-2" data-bs-dismiss="modal"><i class="fa-regular fa-circle-check"></i></div>
        </div>
    </div>


