<div class="background-container">
  <!-- <div class="overlay"></div> -->

  <div class="icon-container left-icons align-items-center">
    <img src="../../../assets/images/human.png" width="60px" height="60px" />
    <div class="nav_icon">
      <img src="../../../assets/images/bell.svg" width="30px" height="30px" />
    </div>
  </div>

  <div class="icon-container center-icons align-items-center pb-3">
    <h1 class="header-title">تحضير بطاقة درس</h1>
  </div>

  <!-- Icons on the right side -->
  <div class="icon-container right-icons align-items-center">
    <div class="nav_icon">
      <img
        src="../../../assets/images/settings.svg"
        width="30px"
        height="30px"
        class="nav_icon"
      />
    </div>
    <div class="nav_icon" (click)="toggleMenu()">
      <img
        src="../../../assets/images/home.svg"
        width="30px"
        height="30px"
        class="nav_icon"
      />
    </div>
  </div>

  <!-- Horizontal menu that is shown or hidden based on the boolean value -->
  <div class="horizontal-menu" *ngIf="isMenuVisible">
    <ul>
      <li routerLink="/profile">
        <i class="fa-solid fa-user"></i> ملف الانجاز
      </li>
      <li routerLink="/student"><i class="fa-solid fa-cog"></i> الطلبه</li>
      <li routerLink="/teacherDash">
        <i class="fa-solid fa-sign-out-alt"></i> السبوره
      </li>
      <li routerLink="/paper">
        <i class="fa-solid fa-sign-out-alt"></i> ورقه عمل
      </li>
      <li routerLink="/exam">
        <i class="fa-solid fa-sign-out-alt"></i>الاختبار
      </li>
    </ul>
  </div>

  <div class="custom-form">
    <div class="my-form">
      <div class="form-group">
        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1">
              <i
                class="fa-solid fa-bag-shopping"
                style="
                  padding: 10px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                "
              ></i>
            </div>
            <h3 class="col-md-11">الماده</h3>
          </div>
        </div>

        <div class="row payment-methods">
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>احياء</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>اللغة العربية</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>توحيد</h6>
              </div>
            </div>
          </div>
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1">
              <i
                class="fa-solid fa-bag-shopping"
                style="
                  padding: 10px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                "
              ></i>
            </div>
            <h3 class="col-md-11">المرحلة</h3>
          </div>
        </div>

        <div class="row payment-methods">
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>ثانوي</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>متوسط</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>إبتدائي</h6>
              </div>
            </div>
          </div>
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div
            class="row header"
            style="justify-content: center; align-items: center"
          >
            <div class="col-md-1">
              <i
                class="fa-solid fa-bag-shopping"
                style="
                  padding: 10px;
                  color: #fff;
                  background-color: #001a72;
                  border-radius: 50%;
                "
              ></i>
            </div>
            <h3 class="col-md-11">الصف</h3>
          </div>
        </div>

        <div class="row payment-methods" style="border-bottom: none">
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-left"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>ثالثة متوسط</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>أولي متوسط</h6>
              </div>
            </div>
          </div>

          <div class="col-md-3 custom-box" (click)="toggleStyle($event)">
            <div class="container">
              <div class="row">
                <h6>ثانية متوسط</h6>
              </div>
            </div>
          </div>
          <div class="col-md-1 custom-box-2">
            <div class="container">
              <div class="row">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- routerLink="/prepExamTeacher" -->
        <div class="div-button mt-4">
          <button
            class="own-btn"
            style="font-weight: bold; font-size: large; padding: 5px 70px"
            data-bs-toggle="modal" data-bs-target="#Edit"
        
          >
            عرض
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->



<div
  class="modal fade"
  id="Edit"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel" >9 / 0</h1>
          <button
          type="button"
          class="close closebtn"
          data-bs-dismiss="modal"
          aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px">
          </button>
        </div>

        

          <div class="modal-body">

            <div class="lessonContainer">
            <span class="lesson-title"> --------:الدرس الأول</span>
          </div>

            <div class="full-width-box custom-full-width-grid ">
          
              <div
              class="custom-card-wrapper"
              *ngFor="let card of cards; let cardIndex = index"
            >
              <div class="custom-card" [ngClass]="{'hide-card': hiddenCards[cardIndex]}">
                <i
                  class="fa-solid fa-times custom-close-icon"
                  (click)="removeFile(cardIndex)"
                ></i>
                <div class="custom-card-body" (click)="openFileInput(cardIndex)">
                  <h5 class="custom-card-title">{{ card.title }}</h5>
            
                  <img *ngIf="uploadedImages[cardIndex]" [src]="uploadedImages[cardIndex]" alt="Uploaded Image" class="thumbnail-image" />
            
                  <p *ngIf="uploadedFiles[cardIndex] && !uploadedImages[cardIndex]">File Attached: {{ uploadedFiles[cardIndex]?.name }}</p>
                </div>
            
                <input
                  type="file"
                  #fileInput
                  style="display: none;"
                  accept="image/*"
                  (change)="attachFile($event, cardIndex)"
                />
              </div>
            </div>
            
          
            </div>

       

              
          </div>

          <div class="modal-footer">
            <button class="btn custombtn ms-4">حفظ</button>
          </div>
          
     
      </div>
    </div>
  </div>
</div>
