<nav class="navbar user-navbar col-lg-12 col-md-12 col-sm-12">
  <div class="container">
    <div class="user-icon col-lg-1 col-md-1 col-sm-1">
      <a href="">
        <img class="user-img"src="assets/img/bg.jpg">
      </a>
    </div>
    <div class="user-notification col-lg-1 col-md-1 col-sm-1">
      <a href="">
        <i class="bi bi-bell"></i>
      </a>
    </div> 
    <div class="user-setting col-lg-1 col-md-1 col-sm-1">
      <a href="">
        <i class="bi bi-gear"></i>
      </a>
    </div>
    <div class="user-home col-lg-1 col-md-1 col-sm-1">
      <a href="">
        <i class="bi bi-house-door"></i>
      </a>
    </div>
  </div>
</nav>
<div id="main">
  <div id="signup-form">
    <div class="container">
      <div class="row location">
        <div class="loaction col-lg-12 col-md-12 col-sm-12">
          <h3>المنطقة</h3>
        </div>
      </div>
      <div calss="row location">
        <div class="btn-group col-lg-12 col-md-12 col-sm-12">
          <select class="form-select location-select" aria-label="Default select example">
            <option selected>قم بإختيار المنطقة</option>
            <option value="1" class="riyadh-zone">
              <div calss="container">
                <div class="row">
                  <i class="riyadh-icon col-lg-1 col-md-1 col-sm-1"></i>
                  <h4 class="col-lg-7 col-md-7 col-sm-7">منطقة الرياض</h4>
                  <h4 class="users col-lg-2 col-md-2 col-sm-2">عدد المشتركين</h4>
                  <h4 class="riyadh-users col-lg-2 col-md-2 col-sm-2">57</h4>
              </div>  
              </div>
            </option>
            <option value="2" class="riyadh-zone">
              <div calss="container mecca-zone">
                <i class="mecca-icon col-lg-1 col-md-1 col-sm-1"></i>
                <h4 class="col-lg-7 col-md-7 col-sm-7">منطقة مكة المكرمة</h4>
                <h4 class="users col-lg-2 col-md-2 col-sm-2">عدد المشتركين</h4>
                <h4 class="mecca-users col-lg-2 col-md-2 col-sm-2">203</h4>
              </div>
            </option>
            <option value="3" class="riyadh-zone">
              <div calss="container east-zone">
                <i class="east-icon col-lg-1 col-md-1 col-sm-1"></i>
                <h4 class="col-lg-7 col-md-7 col-sm-7">منطقة الشرقية</h4>
                <h4 class="users col-lg-2 col-md-2 col-sm-2">عدد المشتركين</h4>
                <h4 class="east-users col-lg-2 col-md-2 col-sm-2">470</h4>
              </div>
            </option>
            <option value="4" class="riyadh-zone">
              <div calss="container madina-zone">
                <i class="madina-icon col-lg-1 col-md-1 col-sm-1"></i>
                <h4 class="col-lg-7 col-md-7 col-sm-7">منطقةالمدينة</h4>
                <h4 class="users col-lg-2 col-md-2 col-sm-2">عدد المشتركين</h4>
                <h4 class="madina-users col-lg-2 col-md-2 col-sm-2">470</h4>
              </div>
            </option>
          </select>
        </div>
      </div>
      <div class="row educational">
        <div class="educational-stage">
          <h3>المرحلة</h3>
        </div>
      </div>

      <div class="row educational">
        <div class="container">
          <div class="row">
            <div class="educational-stage-choice col-lg-4 col-md-4 col-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  المرحلة الإبتدائية
                </label>
              </div>
            </div>
            <div class="educational-stage-choice col-lg-4 col-md-4 col-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  المرحلة المتوسطة
                </label>
              </div>
            </div>
            <div class="educational-stage-choice col-lg-4 col-md-4 col-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  المرحلة الثانوية
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row educational">
        <div class="classes">
          <h3>الصف</h3>
        </div>
      </div>
      <div class="row educational">
        <div class="container">
          <div class="row">
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  الأول الإبتدائي
                </label>
              </div>
            </div>
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  الثاني الإبتدائي
                </label>
              </div>
            </div>
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  الثالث الإبتدائي
                </label>
              </div>
            </div>
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  الرابع الإبتدائي
                </label>
              </div>
            </div>
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  الخامس الإبتدائي
                </label>
              </div>
            </div>
            <div class="educational-class col-lg-2 col-md-2 col-sm-2">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  السادس الإبتدائي
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row educational">
        <div class="material">
          <h3>المواد</h3>
        </div>
      </div>
      <div class="row educational">
        <div class="container">
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check ">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                اللغة العربية
              </label>
            </div>
          </div>
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                الدراسات الإجتماعية
              </label>
            </div>
          </div>
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                الاحياء
              </label>
            </div>
          </div>
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                اللغة الإنجليزية
              </label>
            </div>
          </div>
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                الفلسفة
              </label>
            </div>
          </div>
          <div class="educational-material col-lg-2 col-md-2 col-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                الرياضيات
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row Subscription">
        <div class="duration">
          <h3>مدة الإشتراك</h3>
        </div>
      </div>
      <div class="row Subscription">
        <div class="container">
          <div class="row">
            <div class="Subscription-duration col-lg-4 col-md-4 col-sm-4">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <div class="row">
                  <label class="form-check-label" for="flexCheckDefault">
                    الفصل الدراسي الأول
                  </label>
                </div>
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <p class="col-lg-6 col-md-6 col-sm-6">قم بالإختيار</p>
                      <h4 class="col-lg-6 col-md-6 col-sm-6">0 <span>ر.س</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Subscription-duration col-lg-4 col-md-4 col-sm-4">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <div class="row">
                  <label class="form-check-label" for="flexCheckDefault">
                    الفصل الدراسي الثاني
                  </label>
                </div>
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <p class="col-lg-6 col-md-6 col-sm-6">قم بالإختيار</p>
                      <h4 class="col-lg-6 col-md-6 col-sm-6">0 <span>ر.س</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Subscription-duration col-lg-4 col-md-4 col-sm-4">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <div class="row">
                  <label class="form-check-label" for="flexCheckDefault">
                    الفصل الدراسي الثالث
                  </label>
                </div>
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <p class="col-lg-6 col-md-6 col-sm-6">قم بالإختيار</p>
                      <h4 class="col-lg-6 col-md-6 col-sm-6">0 <span>ر.س</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row payment">
        <div class="container">
          <div class="row">
            <div class="payment-tool col-lg-3 col-md-3 col-sm-3">
              <a href="">حدد طريقة الدفع</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="payment-total-information col-lg-8 col-md-8 col-sm-8">
              <div class="container">
                <div class="row">
                  <h5 class="col-lg-4 col-md-4 col-sm-4">الإجمالي</h5>
                  <h5 class="col-lg-4 col-md-4 col-sm-4">الخصم</h5>
                  <h5 class="col-lg-4 col-md-4 col-sm-4">المجموع الكلي</h5>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <h5 class="total-price col-lg-4 col-md-4 col-sm-4">100<span>ر.س</span></h5>
                  <h5 class="discount col-lg-4 col-md-4 col-sm-4">5<span>%</span></h5>
                  <h5 class="final-price col-lg-4 col-md-4 col-sm-4">95<span>ر.س</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
