<!-- Main Container -->
<div
  class="container teacher-board-container d-flex justify-content-center align-items-center"
>
  <!-- Navigation Bar -->
  <nav class="navbar w-100">
    <div class="row w-100">
      <div class="outlined-text text-center">ملف الأنجاز</div>
      <div
      class="col-md-2 ">
      <button
      type="button"
      class=" closebtn"
      (click)="goBack()"
 
    >
      <img src="../../../assets/images/close.png" width="40px" style="border:none" />
    </button>
    </div>
    </div>
  </nav>

  <!-- next to Nav -->
  <div class="nextnavbar w-100">
    <div class="insideNextNav">
      <img
        src="../../../assets/images/teacher.svg"
        alt="Teacher"
        class="teacher-img"
      />
      <h2 class="teacher-name">م / علي سعود</h2>
    </div>
  </div>

  <!-- Content Area -->

  <div
    class="row content-wrapper w-100 d-flex justify-content-center align-items-center"
  >
    <div class="content-container d-flex w-100">
      <button class="btn custombtn">دراسات اجتماعيه</button>
      <button class="btn custombtn ms-4">احياء</button>
    </div>

    <div class="content-container d-flex w-100 mt-3">
      <div class="line"></div>
      <button class="btn custombtn2 justify-content-center align-items-center">
        ملف إنجاز عام
      </button>
      <div class="line"></div>
    </div>

    <div class="mt-3">
      <div class="container">
        <div class="buttonsContainer justify-content-center align-items-center">
          <div class="row justify-content-center mb-3">
            <div
              class="col-md-2 d-flex justify-content-center align-items-center"
            >
              <button
                class="btn btnCont2"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                السيرة الذاتية
              </button>
            </div>

            <div
              class="col-md-2 d-flex justify-content-center align-items-center"
            >
              <button
                class="btn btnCont2"
                data-bs-toggle="modal"
                data-bs-target="#internShip"
              >
                الدورات التدريبية
              </button>
            </div>

            <div
              class="col-md-2 d-flex justify-content-center align-items-center"
            >
              <button
                class="btn btnCont2"
                data-bs-toggle="modal"
                data-bs-target="#GoalModal"
              >
                أهداف سياسة التعليم في المملكة
              </button>
            </div>
          </div>

          <div class="row justify-content-center mb-3">
            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont2 mb-4"
                data-bs-toggle="modal"
                data-bs-target="#Classes"
              >
                جدول الحصص الاسبوعي
              </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont2 mb-4"
                data-bs-toggle="modal"
                data-bs-target="#Certificates"
              >
                شهادات الشكر و التكريم
              </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont2 mb-4"
                data-bs-toggle="modal"
                data-bs-target="#Activities"
              >
                الأنشطة المدرسية
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div
    class="row content-wrapper w-100 d-flex justify-content-center align-items-center"
  >
    <div class="content-container d-flex w-100">
      <button class="btn custombtn">دراسات اجتماعيه</button>
      <button class="btn custombtn ms-4">احياء</button>
    </div>

    <div class="content-container d-flex w-100 mt-3">
      <div class="line"></div>
      <button class="btn custombtn2 justify-content-cente align-items-center">
        ملف إنجاز عام
      </button>
      <div class="line"></div>
    </div>

    <div class="mt-3">
      <div class="container">
        <div class="buttonsContiner justify-content-cente align-items-center">
          <div class="row">
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <button type="button" class="btn">السيرة الذاتية</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#internShip"
            >
              <button class="btn">الدورات التدريبية</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#GoalModal"
            >
              <button class="btn">أهداف سياسة التعليم في المملكة</button>
            </div>
          </div>

          <div class="row mt-4">
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#Classes"
            >
              <button class="btn">جدول الحصص الاسبوعي</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#Certificates"
            >
              <button class="btn">شهارات الشكر و التكريم</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#Activities"
            >
              <button class="btn">الأنشطة المدرسية</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="content-container d-flex w-100 mt-3">
      <div class="line"></div>
      <button class="btn custombtn3 justify-content-cente align-items-center">
        ------ / ملف إنجاز مادة
      </button>
      <div class="line"></div>
    </div>

    <div class="mt-3">
      <div class="container">
        <div class="buttonsContainer justify-content-center align-items-center">
          <!-- First row with four buttons -->
          <div class="row justify-content-center mb-3">
            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont"
                data-bs-toggle="modal"
                data-bs-target="#TecherPaper"
              >
                أوراق العمل
              </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont"
                data-bs-toggle="modal"
                data-bs-target="#distribution"
              >
                توزيع المنهج
              </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont"
                data-bs-toggle="modal"
                data-bs-target="#Skilles"
              >
                المهارات الأساسية
              </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont"
                data-bs-toggle="modal"
                data-bs-target="#Teaching"
              >
                أهداف تدريس المادة
              </button>
            </div>
          </div>

          <!-- Second row with four buttons -->
          <div class="row justify-content-center mb-3">
            <div class="col-md-2 d-flex justify-content-center">
              <button class="btn btnCont mb-4">تقييم المعلم</button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button class="btn btnCont mb-4">البرامج العلاجية</button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont mb-4"
                data-bs-toggle="modal"
                data-bs-target="#feedback"
              >
                التغذية الراجعة
              </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <button
                class="btn btnCont mb-4"
                data-bs-toggle="modal"
                data-bs-target="#Exames"
              >
                الاختبارات
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="mt-3">
      <div class="container">
        <div class="buttonsContiner justify-content-cente align-items-center">
          <div class="row">
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
               data-bs-toggle="modal"
              data-bs-target="#paper"
            >
              <button class="btn">أوراق العمل</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#distribution"
            >
              <button class="btn">توزيع المنهج</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#Skilles"
            >
              <button class="btn">المهارات الأساسية</button>
            </div>
            <div
              class="col-md-2 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#Teaching"
            >
              <button class="btn">أهداف تدريس المادة</button>
            </div>
          </div>

          <div class="row">
            <div
              class="col-md-3 Popupbtn justify-content-cente align-items-center"
            >
              <button class="btn">تقييم المعلم</button>
            </div>
            <div
              class="col-md-3 Popupbtn justify-content-cente align-items-center"
            >
              <button class="btn">البرامج العلاجية</button>
            </div>
            <div
              class="col-md-3 Popupbtn justify-content-cente align-items-center"
              data-bs-toggle="modal"
              data-bs-target="#feedback"
            >
              <button class="btn">التغذية الراجعة</button>
            </div>
            <div
              class="col-md-3 Popupbtn justify-content-cente align-items-center"   data-bs-toggle="modal"
              data-bs-target="#Exames">
              <button class="btn">الاختبارات</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="content-container2 d-flex w-100 mt-4">
      <button class="btn custombtn">تصدير الي ملف PDF</button>
      <button class="btn custombtn ms-4">طباعة</button>
    </div>

    <!-- <div class=" mt-3">
        <div class="container">
            <div class="buttonsContiner justify-content-cente align-items-center">
                <div class="row">
                    <div class="padding" style="width:12.45%;"></div>
                    <div class="col-md-2 Popupbtn justify-content-cente align-items-center" >
                        <button class="btn ">السيرة الذاتية</button>         
                    </div>
                    <div class="padding" style="width:12.45%;"></div>
                    <div class="col-md-2 Popupbtn justify-content-cente align-items-center">
                        <button class="btn ">الدورات التدريبية</button>         
                    </div>
                    <div class="padding" style="width:12.45%;"></div>
                    <div class="col-md-2 Popupbtn justify-content-cente align-items-center">
                        <button class="btn ">أهداف سياسة التعليم في المملكة</button>         
                    </div>
                    <div class="padding" style="width:12.45%;"></div>
                </div>
            </div>
        </div>
    </div> -->
  </div>
</div>

<!-- C.V Modal -->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">السيرة الذاتية</h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <table class="custom-table">
            <thead>
              <tr>
                <th>الاسم</th>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- 8 rows -->
              <tr>
                <td>المؤهل الدراسي</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>التخصص</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>عام التخرج</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>نوع تدريسك الحالي</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>عد الدورات</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>عدد الحصص</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <td>نتيجة التقييم للعام الماضي</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
              <tr>
                <th
                  colspan="3"
                  class="text-center"
                  (click)="toggleMoreData()"
                  *ngIf="whichClick"
                >
                  <i class="fa-solid fa-plus"></i> إضافة بيانات أكثر
                </th>
              </tr>
              <tr *ngIf="showMoreData">
                <td>عدد الحصص 2</td>
                <th colspan="2">
                  <input type="text" class="form-input" />
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- InternModal -->
<div
  class="modal fade"
  id="internShip"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
            الدورات التدريبية
          </h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <table class="custom-table">
            <tr>
              <th>رقم الدورة</th>
              <th>الدورات التدريبية</th>
              <th>مكان الدورة</th>
              <th>عدد ساعتها</th>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
              <td>
                <input type="text" class="form-input" />
              </td>
            </tr>
          </table>

          <div class="custom-select mt-2 " (click)="openNewModal()" >
            <button
              class="btn custombtnTable ms-4"
              data-bs-toggle="modal"
              data-bs-target="#newModal"
            >
            <i class="fa-solid fa-angle-down"></i>
              هنا شواهد الدورات التدريبية
             
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="newModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
           الدورات التدريبية
          </h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <button class="btn custombtn" (click)="openCamera()">
              <img
                src="../../../assets/images/camera.png"
                width="30px"
                height="30px"
              />
            </button>
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع ملف
            </button>
            <input
              type="file"
              accept="image/*"
              style="display: none"
              #fileInput
              (change)="onFileSelected($event)"
            />
          </div>

          <div class="camera-container mt-3" *ngIf="cameraOpen">
            <video #videoElement width="100%" autoplay></video>
            <button class="btn custombtn mt-3" (click)="capturePhoto()">
              التقاط الصورة
            </button>
          </div>

          <div
            class="full-width-box mt-3 d-flex align-items-center justify-content-center"
          >
            <!-- Dynamically replace the image here -->
            <img
              *ngIf="capturedImage"
              [src]="capturedImage"
              width="100%"
              height="auto"
              class="captured-photo"
            />
            <div *ngIf="!capturedImage" class="placeholder-content">
              <img
                src="../../../assets/images/upload.png"
                width="50px"
                height="50px"
              />
              <h4 class="me-3">هنا شواهد الدورات التدريبية</h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Goals Modal -->

<div
  class="modal fade"
  id="GoalModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
            أهداف سياسة التعليم في المملكة
          </h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <!-- Button to show CKEditor -->
            <button class="btn custombtn" (click)="showEditorContent()">
              اكتب الاهداف
            </button>

            <!-- Button to show file upload content -->
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع صورةاو ملف
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
              style="display: none"
            />
          </div>

          <!-- Box to display content based on selected state -->
          <div class="full-width-box mt-3 d-flex align-items-center">
            <!-- Display uploaded image if showFileUploadContent is true -->
            <img *ngIf="showFileUploadContent && uploadedFileUrl" [src]="uploadedFileUrl" class="img-fluid" alt="Uploaded File" />

            <!-- Display CKEditor if showEditor is true -->
            <ckeditor
              *ngIf="showEditor"
              [editor]="Editor"
              [(ngModel)]="editorData"
              [config]="editorConfig"
              (ready)="onReady($event)"
              class="custom-ckeditor"
            ></ckeditor>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Certificates Modal -->
<div
  class="modal fade"
  id="Certificates"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
            شهادات الشكر و التقدير
          </h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <button class="btn custombtn" (click)="openCamera()">
              <img
                src="../../../assets/images/camera.png"
                width="30px"
                height="30px"
              />
            </button>
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع ملف
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
              style="display: none"
            />
          </div>

          <div class="camera-container mt-3" *ngIf="cameraOpen">
            <video #videoElement width="100%" autoplay></video>
            <button class="btn custombtn mt-3" (click)="capturePhoto()">
              التقاط الصورة
            </button>
          </div>

          <div
            class="full-width-box mt-3 d-flex align-items-center justify-content-center"
          >
            <!-- Dynamically replace the image here -->
            <img *ngIf="showFileUploadContent && uploadedFileUrl" [src]="uploadedFileUrl" class="img-fluid" alt="Uploaded File" />

            <div *ngIf="!capturedImage" class="placeholder-content">
              <img
                src="../../../assets/images/upload.png"
                width="50px"
                height="50px"
                *ngIf="!showFileUploadContent && !uploadedFileUrl"
              />
              <h4 class="me-3" *ngIf="!showFileUploadContent && !uploadedFileUrl">هنا شواهد شهادة الشكر و التقدرير</h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Class schedule Modal -->
<div
  class="modal fade modal-xl"
  id="Classes"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">جدول الحصص</h1>

          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <div class="full-width-box mt-3 d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <table class="schedule-table">
                    <thead>
                      <tr>
                        <th>اليوم</th>
                        <th>الحصة (1)</th>
                        <th>الحصة (2)</th>
                        <th>الحصة (3)</th>
                        <th>الحصة (4)</th>
                        <th>الحصة (5)</th>
                        <th>الحصة (6)</th>
                        <th>الحصة (7)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>الأحد</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>الاثنين</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <!-- More rows as needed -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Activities Modal -->
<div
  class="modal fade"
  id="Activities"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">الانشطه المدرسية</h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <!-- Button to show CKEditor -->
            <button class="btn custombtn" (click)="showEditorContent()">
              اكتب الاهداف
            </button>

            <!-- Button to show file upload content -->
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع صورةاو ملف
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
              style="display: none"
            />
          </div>

          <!-- Box to display content based on selected state -->
          <div class="full-width-box mt-3 d-flex align-items-center">
            <!-- Display uploaded image if showFileUploadContent is true -->
            <img *ngIf="showFileUploadContent && uploadedFileUrl" [src]="uploadedFileUrl" class="img-fluid" alt="Uploaded File" />

            <!-- Display CKEditor if showEditor is true -->
            <ckeditor
              *ngIf="showEditor"
              [editor]="Editor"
              [(ngModel)]="editorData"
              [config]="editorConfig"
              (ready)="onReady($event)"
              class="custom-ckeditor"
            ></ckeditor>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Skilles Modal -->

<div
  class="modal fade"
  id="Skilles"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content outer-container">
      <div class="inner-container">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">
            المهارات الاساسية
          </h1>
          <button
            type="button"
            class="close closebtn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../../assets/images/close.png" width="40px" />
          </button>
        </div>

        <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <button class="btn custombtn" (click)="openCamera()">
              <img
                src="../../../assets/images/camera.png"
                width="30px"
                height="30px"
              />
            </button>
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع ملف
            </button>
            <input
              type="file"
              accept="image/*"
              style="display: none"
              #fileInput
              (change)="onFileSelected($event)"
            />
          </div>

          <div class="camera-container mt-3" *ngIf="cameraOpen">
            <video #videoElement width="100%" autoplay></video>
            <button class="btn custombtn mt-3" (click)="capturePhoto()">
              التقاط الصورة
            </button>
          </div>

          <div class="full-width-box mt-3 d-flex align-items-center">
            <img
              *ngIf="capturedImage"
              [src]="capturedImage"
              width="100%"
              height="auto"
              class="captured-photo"
            />

            <div *ngIf="!capturedImage" class="placeholder-content"></div>
          </div>
          <div class="modal-footer">
            <button class="btn custombtn ms-4">حفظ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Curriculum distribution Modal -->

  <div
    class="modal fade"
    id="distribution"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content outer-container">
        <div class="inner-container">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">توزيع المناهج</h1>
            <button
              type="button"
              class="close closebtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img src="../../../assets/images/close.png" width="40px" />
            </button>
          </div>

          <div class="modal-body">
            <div class="content-container3 d-flex w-100">
              <button class="btn custombtn" (click)="openCamera()">
                <img
                  src="../../../assets/images/camera.png"
                  width="30px"
                  height="30px"
                />
              </button>
              <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
                رفع ملف
              </button>
              <input
                type="file"
                accept="image/*"
                style="display: none"
                #fileInput
                (change)="onFileSelected($event)"
              />
            </div>

            <div class="camera-container mt-3" *ngIf="cameraOpen">
              <video #videoElement width="100%" autoplay></video>
              <button class="btn custombtn mt-3" (click)="capturePhoto()">
                التقاط الصورة
              </button>
            </div>

            <div class="full-width-box mt-3 d-flex align-items-center">
              <img
                *ngIf="capturedImage"
                [src]="capturedImage"
                width="100%"
                height="auto"
                class="captured-photo"
              />

              <div *ngIf="!capturedImage" class="placeholder-content"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn custombtn ms-4">حفظ</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paper Work Modal -->
  <div
    class="modal fade"
    id="TecherPaper"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content outer-container">
        <div class="inner-container">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">اوراق العمل</h1>
            <button
              type="button"
              class="close closebtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img src="../../../assets/images/close.png" width="40px" />
            </button>
          </div>

          <div class="modal-body">
            <div class="full-width-box d-flex align-items-center">
              <!-- Content goes here -->
              <h4 class="text-center">هنا شواهد اوراق العمل</h4>
            </div>
          </div>
          <!-- <div class="modal-footer">
        <button class="btn custombtn ms-4">حفظ</button>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Exames Modal -->
  <div
    class="modal fade"
    id="Exames"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content outer-container">
        <div class="inner-container">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">الاختبارات</h1>
            <button
              type="button"
              class="close closebtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img src="../../../assets/images/close.png" width="40px" />
            </button>
          </div>

          <div class="modal-body">
            <div class="full-width-box mt-3 d-flex align-items-center">
              <!-- Content goes here -->
              <!-- <img src="../../../assets/images/upload.png" width="50px" height="50px"> -->
              <h4 class="me-3">هنا شواهد الاختبارات</h4>
            </div>
          </div>
          <!-- <div class="modal-footer">
        <button class="btn custombtn ms-4">حفظ</button>
      </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback Modal -->

  <div
    class="modal fade"
    id="feedback"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content outer-container">
        <div class="inner-container">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">
              التغذية الراجعة
            </h1>
            <button
              type="button"
              class="close closebtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img src="../../../assets/images/close.png" width="40px" />
            </button>
          </div>

          <div class="modal-body">
            <div class="content-container3 d-flex w-100">
              <button class="btn custombtn">اكتب الاهداف</button>
              <button class="btn custombtn ms-4">رفع صورةاو ملف</button>
            </div>

            <div class="full-width-box mt-3 d-flex align-items-center">
              <!-- Content goes here -->
              <!-- <img src="../../../assets/images/upload.png" width="50px" height="50px"> -->
              <h4 class="me-3">هنا شواهد الاختبارات</h4>
            </div>
          </div>
          <!-- <div class="modal-footer">
          <button class="btn custombtn ms-4">حفظ</button>
        </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Teaching objectives -->
  <div
    class="modal fade"
    id="Teaching"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content outer-container">
        <div class="inner-container">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">
              أهداف تدريس مادة
            </h1>
            <button
              type="button"
              class="close closebtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <img src="../../../assets/images/close.png" width="40px" />
            </button>
          </div>

               <div class="modal-body">
          <div class="content-container3 d-flex w-100">
            <!-- Button to show CKEditor -->
            <button class="btn custombtn" (click)="showEditorContent()">
              اكتب الاهداف
            </button>

            <!-- Button to show file upload content -->
            <button class="btn custombtn ms-4" (click)="triggerFileUpload()">
              رفع صورةاو ملف
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
              style="display: none"
            />
          </div>

          <!-- Box to display content based on selected state -->
          <div class="full-width-box mt-3 d-flex align-items-center">
            <!-- Display uploaded image if showFileUploadContent is true -->
            <img *ngIf="showFileUploadContent && uploadedFileUrl" [src]="uploadedFileUrl" class="img-fluid" alt="Uploaded File" />

            <!-- Display CKEditor if showEditor is true -->
            <ckeditor
              *ngIf="showEditor"
              [editor]="Editor"
              [(ngModel)]="editorData"
              [config]="editorConfig"
              (ready)="onReady($event)"
              class="custom-ckeditor"
            ></ckeditor>
          </div>
        </div>
        
          <div class="modal-footer">
            <button class="btn custombtn ms-4">حفظ</button>
          </div>
        </div>
      </div>
    </div>
  </div>


