<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center"></div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div
            class="text-wrap p-4 text-center order-md-last" style="margin-bottom: 0; padding-bottom: 0;"
          >
                <img src="../../../assets/images/studentLo (1).png" class="imgContain">
          </div>

          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4 text-end">تسجيل دخول</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button class="form-control btn btn-primary3">المعلم</button>
              </div>
              <div class="col-md-6">
                <button class="form-control btn btn-primary2">الطالب</button>
              </div>
            </div>

            <form action="#" class="signin-form">
              <div class="form-group mb-3 text-md-right">
                <label class="label" for="name"> رمز الدخول</label>
                <input
                  type="text"
                  class="form-control text-md-right"
                  placeholder="قم باضافه رمز الدخول"
                  required
                />
              </div>

              <div class="form-group mb-3 text-md-right">
                <label class="label" for="name">رقم الهاتف</label>
                <input
                  type="text"
                  class="form-control text-md-right"
                  placeholder="+966 0000"
                  required
                />
              </div>

              <div class="form-group mb-3 text-md-right row">
                <div class="col-md-6">
                  <label class="label" for="password">تأكيد كلمه السر </label>
                  <input
                    type="password"
                    class="form-control text-md-right"
                    placeholder="********"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <label class="label" for="password">كلمه السر</label>
                  <input
                    type="password"
                    class="form-control text-md-right"
                    placeholder="********"
                    required
                  />
                </div>
              </div>

              <div class="form-group" style="margin-top: 50px">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                  routerLink="/home"
                >
                  تسجيل دخول
                </button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
