<div class="background-container">
    <div class="overlay"></div>
  
  
    <div class="icon-container left-icons align-items-center">
    
      <img src="../../../assets/images/human.png" width="60px" height="60px" >
      <div class="nav_icon">
        <img src="../../../assets/images/bell.svg" width="30px" height="30px">
      </div>
  
    
    </div>

    <div class="icon-container center-icons align-items-center">
        <h1>الاختبارات</h1>
    </div>
  
    <!-- Icons on the right side -->
    <div class="icon-container right-icons align-items-center" >
      <div class="nav_icon">
        <img src="../../../assets/images/settings.svg" width="30px" height="30px" class="nav_icon">
      </div>
      <div class="nav_icon" (click)="toggleMenu()">
        <img src="../../../assets/images/home.svg" width="30px" height="30px" class="nav_icon">
      </div>
    </div>


  
   
  <!-- Horizontal menu that is shown or hidden based on the boolean value -->
  <div class="horizontal-menu" *ngIf="isMenuVisible">
    <ul>
     
      <li routerLink="/profile"><i class="fa-solid fa-user" ></i> ملف الانجاز</li>
      <li routerLink="/student"><i class="fa-solid fa-cog" ></i> الطلبه</li>
      <li routerLink="/teacherDash"><i class="fa-solid fa-sign-out-alt" ></i> السبوره</li>
      <li routerLink="/paper"><i class="fa-solid fa-sign-out-alt" ></i> ورقه عمل</li>
      <li routerLink="/exam"><i class="fa-solid fa-sign-out-alt" ></i>الاختبار</li>



    </ul>
  </div>

  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group container">
            <div class="header">
                <div class="header-item">
                    <span>المادة</span>
                    <p class="subject">توحيد</p>
                </div>
                <div class="header-item">
                    <span>الفصل</span>
                    <div class="terms">
                        <div class="term" *ngFor="let term of terms">{{ term }}</div>
                    </div>
                </div>
                <div class="header-item">
                    <span>الصف</span>
                    <p class="class-level">الاول متوسط</p>
                </div>
                <!-- <div class="total-tests">
                    إجمالي الاختبارات
                    <span class="test-count">24</span>
                </div> -->
                <!-- <button class="add-test-btn">+ إضافة اختبار</button> -->
            </div>
        
            <!-- Card Items -->
            <div *ngFor="let test of tests" class="card-container ">
                <div class="card-header">
                    <span class="item-title">{{ test.title }}</span>
                    <div class="icons">
                        <button class="icon-btn">+ إضافة أسئلة</button>
                        <button class="icon-btn">⚙️</button>
                        <button class="icon-btn">A</button>
                    </div>
                </div>
                <div class="card-body">
                    <span class="item-info">إجمالي الدرجات: {{ test.score }}</span>
                    <!-- <span class="status-tag" [ngClass]="getStatusClass(test.status)">{{ test.status }}</span> -->
                </div>
            </div>
    
    
  
  
        
        </div>
      </div>
    </div>
  </div>