<div class="background-container">
  <div class="overlay"></div>

  <div class="icon-container left-icons align-items-center">
    
    <div class="profile-container" (click)="toggleMenu()">
      <img
        src="../../../assets/images/human.png"
        alt="Profile"
        width="60px"
        height="60px"
      />
    </div>
  
    <div 
    class="nav_icon" 
    [ngClass]="{ 'hovered': isHovered.bell }"
    (mouseover)="changeIcon('bell', true)" 
    (mouseout)="changeIcon('bell', false)"
  >
    <img 
      [src]="currentIcons.bell" 
      width="30px" 
      height="30px"
    />
  </div>


  
    <!-- Dropdown Menu -->
    <div
      *ngIf="menuOpen"
      class="dropdown-menu"
    >
      <div class="menu-item" routerLink="/profile">
        ملف الشخصي <img src="../../../assets/images/user-check.png" height="30px" width="30px">
      </div>
      <div class="menu-item">
         توقيع المعلم <img src="../../../assets/images/edit-2.png" height="30px" width="30px">
      </div>
      <hr />
      <div class="menu-item logout">
       <img src="../../../assets/images/logout.png" height="30px" width="30px"> تسجيل خروج 
      </div>
    </div>

  
  </div>

  <div class="icon-container center-icons align-items-center">
    <h1 class="myPop" data-bs-toggle="modal" data-bs-target="#exampleModal">
      المهارات الاساسية
    </h1>
  </div>

  <div class="icon-container right-icons align-items-center">
    
    <div 
    class="nav_icon"
    (click)="openSetting()"
    [ngClass]="{ 'hovered': isHovered.settings }"
    (mouseover)="changeIcon('settings', true)" 
    (mouseout)="changeIcon('settings', false)"
  >
    <img 
      [src]="currentIcons.settings" 
      width="30px" 
      height="30px"
    />
  </div>

  <!-- (click)="openNav()" -->

  <div 
  class="nav_icon"
  (click)="openNav()"
  [ngClass]="{ 'hovered': isHovered.home }"
  (mouseover)="changeIcon('home', true)" 
  (mouseout)="changeIcon('home', false)"
>
  <img 
    [src]="currentIcons.home" 
    width="30px" 
    height="30px"
  />
</div>


    <div class="row container">
      <div class="col-12 nav-wrapper" *ngIf="isNavbarOpen">
        <button class="close-btn" (click)="openNav()">&times;</button>
    
        <div class="nav-container">
          <!-- Close Button -->
    
          <!-- Home Icon Section -->
          <!-- <div class="home-icon">
            <div class="circle">
              <i class="">
                <img
                  src="../../assets/images/home-1.svg"
                  height="30px"
                  width="30px"
                />
              </i>
              <span style="color: #001A72;">الرئيسية</span>
            </div>
          </div> -->
    
          <!-- Other Navigation Icons -->
          <div class="nav-items">
            <div class="nav-item first-item" >
              <i class="">
                <img
                  src="../../../assets/images/calendar-link.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الجدول</span>
            </div>
            <div class="nav-item" routerLink="/student">
              <i class="">
                <img
                  src="../../../assets/images/users-more.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الطلاب</span>
            </div>
            <div class="nav-item" routerLink="/studentPro">
              <i class="">
                <img
                  src="../../../assets/images/users-more.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>ملف الطالب</span>
            </div>
            <div class="nav-item" routerLink="/package">
              <i class="">
                <img
                  src="../../../assets/images/chart-vertical.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الكشوف</span>
            </div>
            <div class="nav-item" routerLink="/paper">
              <i class="">
                <img
                  src="../../assets/images/document-filled.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>اوراق العمل</span>
            </div>
            <div class="nav-item" routerLink="/exam">
              <i class="">
                <img
                  src="../../assets/images/document-filled.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الاختبارات</span>
            </div>
            <div class="nav-item" routerLink="/certificate">
              <i class="">
                <img
                  src="../../../assets/images/crown-1.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الشهادات</span>
            </div>
            <div class="nav-item" routerLink="/reason">
              <i class="">
                <img
                  src="../../../assets/images/user-warning.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>تحويل طالب</span>
            </div>
            <div class="nav-item" routerLink="/skills">
              <i class="">
                <img
                  src="../../../assets/images/calendar-user.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>المهارات الاساسية</span>
            </div>
            <div class="nav-item">
              <i class="">
                <img
                  src="../../../assets/images/suitcase.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> البنك</span>
            </div>
            <div class="nav-item" routerLink="/curriculum">
              <i class="">
                <img
                  src="../../../assets/images/document-plus.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> توزيع المنهج</span>
            </div>

          </div>
        </div>
      </div>    
    </div>

    <div class="row container">
      <div class="col-12 nav-wrapper" style="left: 70px; top:24px" *ngIf="isSettingBarOpen" > 
        <button class="closeSetting-btn" (click)="openSetting()">&times;</button>

        <div class="settingNav-container">
          <!-- <div class="setting-icon">
            <div class="circle">
              <i class="">
                <img
                  src="../../../assets/images/document-plusBlue.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span style="font-size: small; color:#001A72">اعداد النقاط</span>
            </div>
          </div> -->

           <div class="nav-items">

            <div class="nav-item first-item" routerLink="/technical">
              <i class="">
                <img
                src="../../../assets/images/document-plus.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span> اعداد الدرجات</span>
            </div>

            <div class="nav-item" routerLink="/permission">
              <i class="">
                <img
                  src="../../../assets/images/headphones.png"
                  height="30px"
                  width="30px"
                />
              </i>
              <span>الدعم الفني</span>
            </div>




            </div>
        </div>
      </div>
    </div>

</div>


  <div class="custom-form">

    
  <div class="container-fluid edit-nav">
    <div class="row">
      
      <div class="col-4">
        <button class="edit-button">تعديل</button>
      </div>
      
    </div>
  </div>

  
    <div class="my-form">
      <div class="logo-header">
        <div class="left-icon">
          <!-- Placeholder for the circular icon on the left side -->
          <div class="circle-icon">?</div>
        </div>

        <div class="center-logo">
          <!-- Vision 2030 Logo and Ministry of Education text -->
          <img
            src="../../../assets/images/logo2030.png"
            alt="Vision 2030"
            class="vision-logo"
          />
        </div>

        <div class="right-details">
            <!-- Ministry of Education text and school details in the same div -->
            <div class="ministry-text">
              المملكة العربية السعودية<br />
              وزارة التعليم
            </div>
            <div class="school-container">
              
                <input type="text" class="school-input" />
                <span>: المدرسة</span>
              </div>
          </div>
      </div>

      <div class="table-container">
        <div class="table-header">
          <div class="header-content">
            <!-- <span class="title">المهارات الاساسية لمادة (الأحياء) الصف الثاني المتوسط</span> -->
          </div>
        </div>
        <table class="custom-table">
          <thead style="border-collapse: separate">
            <tr>
              <!-- Right side: 'أسماء الطلاب' with rowspan for two rows -->
              <th rowspan="2" class="student-names-header">أسماء الطلاب</th>

              <!-- Left side: 'عدد المهارات التي لم تجتز' with rowspan for two rows -->

              <!-- Center section with title spanning across multiple columns -->
              <th colspan="9" class="center-title">
                المهارات الاساسية لمادة (الأحياء) الصف الثاني المتوسط
              </th>

              <th rowspan="2" class="skills-header student-names-header">
                عدد المهارات التي لم تجتز
              </th>
            </tr>
            <tr class="sep">
              <!-- Row for skill numbers (1 to 9) -->
              <th class="number-row first-cell">1</th>
              <th class="number-row">2</th>
              <th class="number-row">3</th>
              <th class="number-row">4</th>
              <th class="number-row">5</th>
              <th class="number-row">6</th>
              <th class="number-row">7</th>
              <th class="number-row">8</th>
              <th class="last-cell">9</th>
            </tr>
          </thead>
          <tbody>
       
            <!-- <td>أسامة أشرف</td> -->

            <tr *ngFor="let row of tableData; let rowIndex = index">
                <td>أسامة أشرف</td>
                <td *ngFor="let cell of tableData[0]; let colIndex = index">
                    <div
                      class="icon-container2"
                      (click)="toggleDropdown($event, 0, colIndex)"
                    >
                      <img
                        *ngIf="cell.status === 'true'"
                        src="../../../assets/images/check-circle.png"
                        width="30px"
                        height="30px"
                      />
                      <img
                        *ngIf="cell.status === 'false'"
                        src="../../../assets/images/cross-circle.png"
                        width="30px"
                        height="30px"
                      />
                      <div *ngIf="cell.dropdownOpen" class="dropdown-menu">
                        <div (click)="setStatus(0, colIndex, 'true')">
                          <img
                            src="../../../assets/images/check-circle.png"
                            width="30px"
                            height="30px"
                          />
                        </div>
                        <div (click)="setStatus(0, colIndex, 'false')">
                          <img
                            src="../../../assets/images/cross-circle.png"
                            width="30px"
                            height="30px"
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
              </tr>

            <tr>
              <td>أسامة أشرف</td>

              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td></td>
            </tr>
            <tr>
              <td>أسامة أشرف</td>

              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td><span class="icon pass"></span></td>
              <td></td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
