<div class="background-container">
    <img
      class="background-image"
      src="../../../assets/images/back.jpg"
      alt="Background Image"
    />
    <div class="overlay"></div>
  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group">
          
            <div class="stepper">
                <div class="step completed">
                  <span>1</span>
                </div>
                
                <div class="line"></div>
                <div class="step active">
                  <span>2</span>
                </div>
                <div class="line2"></div>
                <div class="step">
                  <span class="remain">3</span>
                </div>
              </div>


              <div class="row">
                <div class="col-md-3 custom-box mx-4 ">
                 
                  <label class="form-check-label" for="flexCheckDefault1">
                  </label>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                 
                  <label class="form-check-label" for="flexCheckDefault2">
                  </label>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                 
                  <label class="form-check-label" for="flexCheckDefault3">
                  </label>
                </div>
              </div>

              <h4 class="text-end mt-3">ادخل معلومات الفيزا</h4>

              <form>

                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleFormControlInput1" class="form-label">الاسم علي البطاقه </label>
                        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleFormControlInput1" class="form-label">رقم الفيزا </label>
                        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">رقم الفيزا </label>
                        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">رقم الفيزا </label>
                        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                    </div>
                </div>

                
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light mt-4"> تاكيد الدفع</button>
            </div>
              </form>
              
      
   
  
        </div>
      </div>
    </div>
</div>
  