<div class="background-container">
  <app-navbar></app-navbar>
  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group">
          
            <div class="stepper">
                <div class="step completed">
                  <span>1</span>
                </div>
                
                <div class="line"></div>
                <div class="step active">
                  <span>2</span>
                </div>
                <div class="line2"></div>
                <div class="step">
                  <span class="remain">3</span>
                </div>
            </div>


              <div class="row payment-methods">
                <div class="col-md-3 custom-box mx-4 ">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/visa.png">
                    </div>
                  </div>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/mada.png">
                    </div>
                  </div>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/stc.png">
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="text-end mt-3">ادخل معلومات الفيزا</h4>

              <form>

                <div class="row">
                    <div class="col-md-12 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">الاسم علي البطاقه </label>
                        <input class="form-control text-end" type="text" placeholder="قم بكتابة الاسم الموجود علي البطاقة" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">رقم الفيزا </label>
                        <input class="form-control text-end" type="text" placeholder="قم بأدخال رقم الفيزا" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                  
                  <div class="col-md-6 vissa-input">
                    <label for="exampleFormControlInput1" class="form-label" style="float: right;"> تاريخ الانتهاء </label>
                    <input class="form-control text-end" type="text" placeholder="قم بأدخال تاريخ الانتهاء" aria-label="default input example">
                </div>

                    <div class="col-md-6 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">رقم CVV </label>
                        <input class="form-control text-end" type="text" placeholder="مثال (123)" aria-label="default input example">
                    </div>
                    
                </div>

                
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light mt-4" routerLink="/approve"> تاكيد الدفع</button>
            </div>
              </form>
        </div>
      </div>
    </div>
</div>
