<div class="background-container">
    <!-- <div class="overlay"></div> -->

    <div class="navbar-icons">
      <div class="icon-container left-icons align-items-center">
        <div class="profile-container" (click)="toggleMenu()">
          <img
            src="../../../assets/images/human.png"
            alt="Profile"
            width="60px"
            height="60px"
          />
        </div>
        <div
          class="nav_icon"
          [ngClass]="{ hovered: isHovered.bell }"
          (mouseover)="changeIcon('bell', true)"
          (mouseout)="changeIcon('bell', false)"
        >
          <img [src]="currentIcons.bell" width="30px" height="30px" />
        </div>
      </div>
  
      <!-- Icons on the right side -->
      <div class="icon-container right-icons align-items-center">
        <div
          class="nav_icon"
          (click)="openSetting()"
          [ngClass]="{ hovered: isHovered.settings }"
          (mouseover)="changeIcon('settings', true)"
          (mouseout)="changeIcon('settings', false)"
        >
          <img [src]="currentIcons.settings" width="30px" height="30px" />
        </div>
        <div
          class="nav_icon"
          (click)="openNav()"
          [ngClass]="{ hovered: isHovered.home }"
          (mouseover)="changeIcon('home', true)"
          (mouseout)="changeIcon('home', false)"
        >
          <img [src]="currentIcons.home" width="30px" height="30px" />
        </div>
  
        <div class="row container">
          <div class="col-12 nav-wrapper" *ngIf="isNavbarOpen">
            <button class="close-btn" (click)="openNav()">&times;</button>
        
            <div class="nav-container">
              <!-- Close Button -->
        
              <!-- Home Icon Section -->
              <!-- <div class="home-icon">
                <div class="circle">
                  <i class="">
                    <img
                      src="../../assets/images/home-1.svg"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span style="color: #001A72;">الرئيسية</span>
                </div>
              </div> -->
        
              <!-- Other Navigation Icons -->
              <div class="nav-items">
                <div class="nav-item " routerLink="/home">
                  <i class="">
                    <img
                      src="../../../assets/images/home-black.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الرئيسية</span>
                </div>
                <div class="nav-item first-item" >
                  <i class="">
                    <img
                      src="../../../assets/images/calendar-link.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الجدول</span>
                </div>
                <div class="nav-item" routerLink="/student">
                  <i class="">
                    <img
                      src="../../../assets/images/users-more.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الطلاب</span>
                </div>
                <div class="nav-item" routerLink="/studentPro">
                  <i class="">
                    <img
                      src="../../../assets/images/users-more.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>ملف الطالب</span>
                </div>
                <div class="nav-item" routerLink="/package">
                  <i class="">
                    <img
                      src="../../../assets/images/chart-vertical.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الكشوف</span>
                </div>
                <div class="nav-item" routerLink="/paper">
                  <i class="">
                    <img
                      src="../../assets/images/document-filled.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>اوراق العمل</span>
                </div>
                <div class="nav-item" routerLink="/exam">
                  <i class="">
                    <img
                      src="../../assets/images/document-filled.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الاختبارات</span>
                </div>
                <div class="nav-item" routerLink="/certificate">
                  <i class="">
                    <img
                      src="../../../assets/images/crown-1.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الشهادات</span>
                </div>
                <div class="nav-item" routerLink="/reason">
                  <i class="">
                    <img
                      src="../../../assets/images/user-warning.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>تحويل طالب</span>
                </div>
                <div class="nav-item" routerLink="/skills">
                  <i class="">
                    <img
                      src="../../../assets/images/calendar-user.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>المهارات الاساسية</span>
                </div>
                <div class="nav-item">
                  <i class="">
                    <img
                      src="../../../assets/images/suitcase.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span> البنك</span>
                </div>
                <div class="nav-item" routerLink="/curriculum">
                  <i class="">
                    <img
                      src="../../../assets/images/document-plus.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span> توزيع المنهج</span>
                </div>
    
              </div>
            </div>
          </div>    
        </div>
  
  
  
        <div class="row container">
          <div class="col-12 nav-wrapper" style="left: 70px; top:24px" *ngIf="isSettingBarOpen" > 
            <button class="closeSetting-btn" (click)="openSetting()">&times;</button>
    
            <div class="settingNav-container">
              <!-- <div class="setting-icon">
                <div class="circle">
                  <i class="">
                    <img
                      src="../../../assets/images/document-plusBlue.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span style="font-size: small; color:#001A72">اعداد النقاط</span>
                </div>
              </div> -->
    
               <div class="nav-items">
    
                <div class="nav-item first-item" routerLink="/technical">
                  <i class="">
                    <img
                    src="../../../assets/images/document-plus.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span> اعداد الدرجات</span>
                </div>
    
                <div class="nav-item" routerLink="/permission">
                  <i class="">
                    <img
                      src="../../../assets/images/headphones.png"
                      height="30px"
                      width="30px"
                    />
                  </i>
                  <span>الدعم الفني</span>
                </div>
    
    
    
    
                </div>
            </div>
          </div>
        </div>
  
  
      </div>
  
  
      <!-- Dropdown Menu -->
      <div
        *ngIf="menuOpen"
        class="dropdown-menu"
        style="  position: absolute;
        top: 70px;
        left: 14px;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        text-align: right;
        z-index: 1000;
        display: block;"
      >
        <div class="menu-item" routerLink="/profile">
          ملف الشخصي <img src="../../../assets/images/user-check.png" height="30px" width="30px">
        </div>
        <div class="menu-item">
           توقيع المعلم <img src="../../../assets/images/edit-2.png" height="30px" width="30px">
        </div>
        <hr />
        <div class="menu-item logout">
         <img src="../../../assets/images/logout.png" height="30px" width="30px"> تسجيل خروج 
        </div>
      </div>
  
  
    </div>
  
    <div class="custom-form">
      <div class="my-form">
        <div class="form-group">
          
            <div class="stepper">
                <div class="step completed">
                  <span>1</span>
                </div>
                
                <div class="line"></div>
                <div class="step active">
                  <span>2</span>
                </div>
                <div class="line2"></div>
                <div class="step">
                  <span class="remain">3</span>
                </div>
            </div>


              <div class="row payment-methods">
                <div class="col-md-3 custom-box mx-4 ">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/visa.png">
                    </div>
                  </div>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/mada.png">
                    </div>
                  </div>
                </div>
      
                <div class="col-md-3 custom-box mx-4">
                  <div class="container">
                    <div class="row">
                      <img src="../../../../assets/images/stc.png">
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="text-end mt-3">ادخل معلومات الفيزا</h4>

              <form>

                <div class="row">
                    <div class="col-md-12 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">الاسم علي البطاقه </label>
                        <input class="form-control text-end" type="text" placeholder="قم بكتابة الاسم الموجود علي البطاقة" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">رقم الفيزا </label>
                        <input class="form-control text-end" type="text" placeholder="قم بأدخال رقم الفيزا" aria-label="default input example">
                    </div>
                </div>

                <div class="row">
                  
                  <div class="col-md-6 vissa-input">
                    <label for="exampleFormControlInput1" class="form-label" style="float: right;"> تاريخ الانتهاء </label>
                    <input class="form-control text-end" type="text" placeholder="قم بأدخال تاريخ الانتهاء" aria-label="default input example">
                </div>

                    <div class="col-md-6 vissa-input">
                        <label for="exampleFormControlInput1" class="form-label" style="float: right;">رقم CVV </label>
                        <input class="form-control text-end" type="text" placeholder="مثال (123)" aria-label="default input example">
                    </div>
                    
                </div>

                
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light mt-4" routerLink="/approve"> تاكيد الدفع</button>
            </div>
              </form>
        </div>
      </div>
    </div>
</div>
